{
  "extends": ["react-app", "eslint:recommended", "plugin:react/recommended"],
  "parser": "babel-eslint",
  "parserOptions": { "ecmsVersion": "6", "sourceType": "module" },
  "plugins": ["prettier"],
  "rules": {
    "prettier/prettier": "error",
    "react/display-name": 0,
    "react/prop-types": 0
  }
}
