{
  "extends": [
    "react-app",
    "eslint:recommended",
    "plugin:react/recommended",
    "plugin:cypress/recommended"
  ],
  "parser": "babel-eslint",
  "parserOptions": { "ecmsVersion": "6", "sourceType": "module" },
  "plugins": ["prettier", "react-hooks", "jsx-a11y", "cypress"],
  "rules": {
    "prettier/prettier": "error",
    "react/display-name": 0,
    "react/prop-types": 0
  }
}
