.invite-member {
  /* max-height: 300px; */
  overflow-y: auto;
  overflow-x: hidden;
  background-color: #fff;
  float: left;
  position: absolute;
  top: 16px;
  right: 0px;
  box-shadow: 0 1px 0 0 rgba(0, 0, 0, 0.04),
    0 15px 65px 0 rgba(17, 25, 40, 0.12);
  border-radius: 3px;
  padding: 5px 15px;
  display: flex;
  min-width: 220px;
}

.invite-member.open {
  display: inline-block;
  visibility: visible;
}

.invite-member .content .memberList {
  max-height: 200px;
  width: 100%;
  overflow-y: auto;
  overflow-x: hidden;
  display: block;
}
.invite-member .content .memberList::-webkit-scrollbar {
  width: 9px;
  height: 10px;
  border: none;
  background-color: inherit;
  overflow: hidden;
  border-radius: 0 3px 3px 0;
}
.invite-member .content .memberList::-webkit-scrollbar-thumb {
  background: #ececec;
  border: none;
}
.invite-member .content .memberList::-webkit-scrollbar-corner {
  background: inherit;
}

.invite-member .inv-item .select-checkbox {
  float: left;
  margin-top: 3px;
}

.invite-member .inv-item .select-checkbox input {
  display: none;
}

.invite-member .label {
  margin: 0px !important;
  display: flex !important;
}

.invite-member .inv-item .select-checkbox input + label span {
  width: 20px;
  height: 20px;
  border: 1px solid #e9ebec;
  position: relative;
  background: inherit;
  border-radius: 2px;
  cursor: pointer;
  margin: 0 auto;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
}

.invite-member .inv-item .select-checkbox input:checked + label span:before {
  content: '\e804';
  font-family: 'foxtail-icon';
  color: #cb0032;
  font-size: 8px;
  text-align: center;
  display: inline-block;
  float: left;
  width: 100%;
  line-height: 20px;
}

.invite-member .content {
  padding: 0 0 15px 0 !important;
  background-color: #fff !important;
  float: none !important;
  height: auto !important;
}

.invite-member .removeContent {
  width: 100%;
  display: block;
  float: left;
  border-radius: 100px;
  padding: 10px;
}

.invite-member .inv-item {
  width: 100%;
  display: block;
  float: left;
  margin-bottom: 20px;
}

.invite-member .content .head {
  width: 100%;
  display: block;
  float: left;
  border-bottom: 1px solid rgba(0, 0, 0, 0.05);
  padding-bottom: 10px;
  font-size: 15px;
  line-height: 15px;
  padding-top: 10px;
  color: #000;
  margin-bottom: 10px;
  height: auto !important;
  box-shadow: none !important;
  max-height: none !important;
}

.invite-member .content .inv-item .avatar {
  width: 32px;
  height: 32px;
  border-radius: 2px;
  display: inline-block;
  float: left;
  margin-left: 10px;
  overflow: hidden;
}

.invite-member .content .inv-item .avatar img {
  width: 100%;
  height: 100%;
  display: inline-block;
  float: left;
  background-size: 100%;
  background-repeat: no-repeat;
}

.invite-member .content .inv-item span.username {
  width: calc(100% - 102px) !important;
  float: left;
  display: block;
  line-height: 32px;
  color: rgba(0, 0, 0, 0.8);
  margin-left: 15px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.05);
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.invite-member .content .apply-content span {
  justify-content: center;
  height: 35px;
  width: 100%;
  display: flex;
  padding: 0 90px;
  line-height: 35px;
  float: left;
  border-radius: 2px;
  color: #fff;
  font-weight: 700;
  background-color: #36d055;
  cursor: pointer;
  transform: 0.3s all;
  /* margin-bottom: 10px; */
}

.invite-member .content .apply-content span:hover {
  background-color: #1fba3d;
}
