@import url("../css/reset.css");
@import url("../css/grid.css");
@import url("../css/fonts.css");
@import url("https://fonts.googleapis.com/css?family=Roboto+Condensed:400,700|Roboto:400,500,700|Poppins:400,500|Kaushan+Script:400,500");
html {
  height: 100%;
  overflow-x: hidden;
}

body {
  overflow-y: unset;
  overflow-x: hidden;
  -webkit-overflow-scrolling: touch;
  -webkit-user-select: none;
}

main {
  margin-top: 65px;
}

.landing + main {
  margin-top: 0;
  box-shadow: none;
}

/*---- GLOBAL ----*/

.hidden-mobile {
  display: none;
  visibility: hidden;
}

.hidden-desktop {
  display: inline-block;
  visibility: visible;
}

.flexible {
  position: absolute;
  left: 0;
  top: 0;
}

.layout {
  height: auto;
  margin: 0;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

textarea {
  white-space: pre-wrap;
}

button,
aside,
div:focus {
  outline: 0;
}

@-webkit-keyframes FLASH_INBOX {
  0%,
  49% {
    background: -webkit-linear-gradient(28deg, #f70016 7%, #5f00a4 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  50%,
  100% {
    color: #d6dde4;
  }
}

/* INVITE MEMBER */

.members-toggle {
  position: relative;
  z-index: 9;
  top: 34px;
  max-width: 300px;
}

.members-toggle.participants {
  top: 27px;
}

.members-toggle.invite {
  top: 73px;
}

.members-toggle.invite-event {
  top: 4px;
}

.select2-container {
  width: 100% !important;
  z-index: 9999;
}

/*---- BUTTONS ----*/

.more-content-btn {
  width: 100%;
  height: 45px;
  display: block;
  float: left;
  background: rgba(255, 255, 255, 0.62);
  box-shadow: 0 1px 0 0 rgba(0, 0, 0, 0.04),
    0 13px 16px 0 rgba(66, 81, 110, 0.04);
  line-height: 46px;
  text-align: center;
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: -0.3px;
  font-size: 14px;
  color: #626e79;
  border-radius: 2px;
  transition: 0.3s all;
}

.more-content-btn:hover {
  background-color: #fff;
  color: #414d57;
}

.more-content-btn a {
  width: 100%;
  height: 100%;
  display: inline-block;
  float: left;
}

section.not-found {
  margin: 0;
  position: absolute;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

@media only screen and (max-width: 800px) {
  section.not-found {
    top: 57%;
    margin: 0;
    position: relative;
    transform: none;
  }
}

section.not-found span.logo {
  width: 80px;
  height: 51px;
  margin: 0 auto;
  position: relative;
  top: 50px;
  display: flex;
  flex: 1;
  background-size: 100%;
  background-repeat: no-repeat;
  background-image: url("../img/logo/logo-color.svg");
  /* z-index: 999; */
}

/*---- EVENT DETAIL ----*/

@-webkit-keyframes opacity {
  0% {
    color: #cf003c;
  }
  100% {
    opacity: 0;
    background-color: #cf003c;
    color: white;
  }
  50% {
    opacity: 1;
    background-color: #cf003c;
    color: white;
  }
}

@-o-keyframes opacity {
  0% {
    color: #cf003c;
  }
  100% {
    opacity: 0;
    background-color: #cf003c;
    color: white;
  }
  50% {
    opacity: 1;
    background-color: #cf003c;
    color: white;
  }
}

@-moz-keyframes opacity {
  0% {
    color: #cf003c;
  }
  100% {
    opacity: 0;
    background-color: #cf003c;
    color: white;
  }
  50% {
    opacity: 1;
    background-color: #cf003c;
    color: white;
  }
}

/*---- FORM ELEMENTS ----*/

input.location-search-input {
  width: 100% !important;
  height: 57px !important;
  outline: none !important;
  border: 1px solid #e3e3e3 !important;
  border-radius: 2px !important;
  padding: 0 15px !important;
  font-size: 14px !important;
}

.autocomplete-dropdown-container {
  position: absolute !important;
  top: 60px !important;
  border-radius: 0 0 3px 3px !important;
  overflow: hidden !important;
  width: 100% !important;
  left: 0 !important;
  float: left !important;
  display: block !important;
  z-index: 9999999 !important;
}

.suggestion-item {
  padding: 5px 15px !important;
  font-size: 14px !important;
  border: 1px solid #e3e3e3 !important;
}

.suggestion-item--active {
  padding: 5px 15px !important;
  font-size: 14px !important;
  border: 1px solid #e3e3e3 !important;
}

.page .settings-content,
.page form,
.page form .content {
  width: 100%;
  display: block;
  float: left;
}

.page .settings-content .content.mtop,
.page form .content.mtop {
  margin-top: 15px;
}

.page .content span.heading {
  width: 100%;
  display: block;
  float: left;
  padding-bottom: 15px;
  color: #464648;
  font-weight: 700;
  letter-spacing: -0.3px;
  font-size: 15px;
  border-bottom: 1px solid #e8e8e8;
  text-transform: uppercase;
  margin-bottom: 15px;
}

.page .content span.heading span.tip {
  position: absolute;
  right: 20px;
  top: 2px;
}

.page .content span.heading span.tip::before {
  content: "\f29c";
  font-family: "foxtail-icon";
  color: #acacac;
  font-size: 14px;
}

.toolTipText {
  font-size: 30px;
}

.page .description {
  color: #373737;
  padding-bottom: 17px;
  text-align: center;
}

.page .content span.heading i {
  font-weight: 400;
  text-transform: none;
  font-style: normal;
}

.page .settings-content .content .item,
.page form .content .item {
  width: 100%;
  display: block;
  float: left;
  margin-bottom: 10px;
  position: relative;
  /* z-index: 1; */
}

.page .settings-content .content .item.nobottom,
.page form .content .item.nobottom {
  margin-bottom: 0;
}

.page .settings-content .content .item.sticky,
.page form .content .item.sticky {
  position: relative;
  top: -1px;
}

.page .settings-content .content .item button,
.page form .content .item button {
  cursor: pointer;
}

.page .settings-content .content .item.sticky .button button,
.page form .content .item.sticky .button button {
  border-radius: 0 0 2px 2px;
}

.page .settings-content .content .item .textarea label,
.page form .content .item .textarea label {
  position: absolute;
  left: 20px;
  top: 15px;
  float: left;
  display: inline-block;
  font-size: 13px;
  color: #9d9d9d;
  /* z-index: 500; */
}

.page
  .settings-content
  .content
  .item
  .textarea
  textarea:valid
  + textarea::before,
.page
  .settings-content
  .content
  .item
  .textarea
  textarea:focus
  + textarea::before,
.page .settings-content .content .item .input input:valid + label::before,
.page .settings-content .content .item .input input:focus + label::before,
.page form .content .item .textarea textarea:valid + textarea::before,
.page form .content .item .textarea textarea:focus + textarea::before,
.page form .content .item .input input:valid + label::before,
.page form .content .item .input input:focus + label::before {
  line-height: 25px;
  font-size: 12px;
  top: 0;
  padding-left: 1px;
}

.page .settings-content .content .item .textarea textarea,
.page .settings-content .content .item .input,
.page form .content .item .textarea textarea,
.page form .content .item .input {
  position: relative;
  display: block;
  float: left;
  width: 100%;
  resize: none;
}

.page .settings-content .content .item .textarea.invalid textarea,
.page
  .settings-content
  .content
  .item
  .input.invalid
  input
  .page
  form
  .content
  .item
  .textarea.invalid
  textarea,
.page form .content .item .input.invalid input {
  border-color: #d35656 !important;
}

.page .settings-content .content .item .textarea.invalid textarea::before,
.page .settings-content .content .item .item .input.invalid label::before,
.page
  .settings-content
  .content
  .item
  .input.invalid
  input:valid
  + label::before,
.page form .content .item .textarea.invalid textarea::before,
.page form .content .item .item .input.invalid label::before,
.page form .content .item .input.invalid input:valid + label::before {
  color: #d35656 !important;
}

.page .settings-content .content .item .textarea span,
.page .settings-content .content .item .input span,
.page form .content .item .textarea span,
.page form .content .item .input span {
  display: none;
  visibility: hidden;
}

.page .settings-content .content .item .textarea.invalid textarea,
.page .settings-content .content .item .input.invalid span,
.page form .content .item .textarea.invalid textarea,
.page form .content .item .input.invalid span {
  display: inline-block;
  float: left;
  visibility: visible;
  font-size: 11px;
  font-family: "Roboto Condensed";
  color: #d35656;
  padding-top: 2px;
  padding-left: 1px;
}

.page .settings-content .content .item .textarea label::before,
.page .settings-content .content .item .input label::before,
.page form .content .item .textarea label::before,
.page form .content .item .input label::before {
  content: attr(title);
  position: absolute;
  top: 15px;
  left: 20px;
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 0;
  font-family: "Roboto Condensed";
  color: #8c909d;
  transition: 300ms all;
  -webkit-font-smoothing: antialiased;
  text-transform: none;
}

.page .settings-content .content .item .textarea textarea,
.page .settings-content .content .item .input input,
.page form .content .item .textarea textarea,
.page form .content .item .input input {
  width: 100%;
  height: 70px;
  overflow: hidden;
  padding: 0 20px;
  padding-top: 20px;
  box-sizing: border-box;
  font-family: "Roboto Condensed";
  font-weight: 400;
  font-size: 15px;
  color: #373737;
  border: 1px solid #e3e3e3;
  border-radius: 2px;
  outline: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  box-shadow: none;
}

.page .settings-content .content .item .calender input,
.page form .content .item .calender input {
  width: 100%;
  display: block;
  float: left;
  outline: none;
  border: 1px solid #e9ebec;
  border-radius: 2px;
  height: 52px;
  padding: 2px 20px 0 46px !important;
  font-family: "Roboto";
  color: #414141;
  font-size: 14px;
  letter-spacing: -0.5px;
  font-weight: 400;
}

.page .settings-content .content .item .textarea textarea,
.page form .content .item .textarea textarea {
  font-size: 14px;
  min-height: 120px;
  overflow-y: auto;
  padding-top: 8px;
}

.page .settings-content .content .item .textarea textarea::placeholder,
.page form .content .item .textarea textarea::placeholder {
  color: #8c909d;
  opacity: 1;
}

.page .settings-content .content .item .textarea textarea:focus,
.page .settings-content .content .item .input input:focus,
.page form .content .item .textarea textarea:focus,
.page form .content .item .input input:focus {
  outline: 0;
  border-color: #b4bbce;
}

.page .settings-content .content .item .textarea textarea:valid,
.page .settings-content .content .item .input input:valid,
.page form .content .item .textarea textarea:valid,
.page form .content .item .input input:valid {
  border-color: #e3e3e3;
}

.page .settings-content .content .item .textarea textarea:valid + label::before,
.page .settings-content .content .item .input input:valid + label::before,
.page form .content .item .textarea textarea:valid + label::before,
.page form .content .item .input input:valid + label::before {
  color: #8c909d !important;
}

.page .settings-content .content .item .textarea textarea:focus + label::before,
.page .settings-content .content .item .input input:focus + label::before,
.page form .content .item .textarea textarea:focus + label::before,
.page form .content .item .input input:focus + label::before {
  color: #8c909d;
}

.page .settings-content .content .item .textarea label,
.page .settings-content .content .item .input label,
.page form .content .item .textarea label,
.page form .content .item .input label {
  float: left;
  padding: 0;
  margin: 0;
}

.page .settings-content .content .item .button,
.page form .content .item .button {
  width: 100%;
  display: block;
  float: left;
}

.page .settings-content .content .item .button.mtop,
.page form .content .item .button.mtop {
  margin-top: 15px;
}

.page .settings-content .content .item .button span,
.page .settings-content .content .item .button button,
.page form .content .item .button span,
.page form .content .item .button button {
  width: 100%;
  height: 50px;
  outline: none;
  line-height: 50px;
  text-align: center;
  border: none;
  border-radius: 2px;
  color: #fff;
  font-weight: 700;
  letter-spacing: -0.3px;
  text-transform: uppercase;
  font-size: 15px;
  background-color: #00d157;
  transition: 0.3s all;
  cursor: pointer;
}

.page .settings-content .content .item .button span:hover,
.page .settings-content .content .item .button button:hover,
.page form .content .item .button span:hover,
.page form .content .item .button button:hover {
  background-color: #00af49;
}

/* SWITCH */

.switch-con {
  width: 100%;
  display: block;
  float: left;
  border-bottom: 1px solid #e8e8e8;
  padding: 12px 0 6px 0;
}

.switch-con.border-top {
  border-top: 1px solid #e8e8e8;
}

.switch-con.no-border {
  border: 0px;
}

.switch-con .sw-head {
  float: left;
  line-height: 33px;
  display: inline-block;
  color: #565656;
  font-size: 14px;
}

.switch-con .sw-head .blkIcon::before {
  content: "\e823";
  font-family: "foxtail-icon";
  background-image: -webkit-linear-gradient(28deg, #f70016 7%, #5f00a4 100%);
  background-image: -o-linear-gradient(28deg, #f70016 7%, #5f00a4 100%);
  background-image: linear-gradient(118deg, #f70016 7%, #5f00a4 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 14px;
  padding-right: 5px;
  padding-left: 1px;
}

.switch-con .sw-btn {
  float: right;
}

.sw-btn .switch {
  position: relative;
}

.sw-btn .switch:focus {
  outline: none;
}

.sw-btn .switch label {
  position: relative;
  display: block;
  width: 63px;
  height: 32px;
  background: #f50043;
  border-radius: 20px;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  transition: background 0.2s ease-in;
}

.sw-btn .switch label:after {
  content: "OFF";
  display: block;
  position: absolute;
  top: 3px;
  left: 3px;
  width: 26px;
  height: 26px;
  border-radius: 50%;
  background: #ffffff;
  font-size: 11px;
  font-family: sans-serif;
  color: #000;
  line-height: 28px;
  text-align: center;
  transition: transform 0.2s ease-in;
}

.sw-btn .switch input {
  display: none;
}

.sw-btn .switch input:checked ~ label {
  background: #00d157;
}

.sw-btn .switch input:checked ~ label:after {
  content: "ON";
  transform: translateX(30px);
}

.sw-btn .switch.distance label:after {
  content: "KM";
}

.sw-btn .switch.distance input:checked ~ label:after {
  content: "Mile";
}

/* SELECT2 */

.select2-container--default .select2-selection--single,
.select2-container--default .select2-selection--multiple {
  border-radius: 2px;
  height: 70px;
  border-color: #e3e3e3 !important;
  outline: none;
}

.select2-container--default .select2-search--dropdown .select2-search__field {
  width: calc(100% - 22px);
  left: 11px;
  outline: none;
  position: relative;
}

.select2-container--default .select2-search--dropdown .select2-search__field {
  border-color: #e7e7e7;
  border-radius: 2px;
  margin-top: 7px;
}

.select2-container--default
  .select2-selection--multiple
  .select2-selection__rendered {
  padding: 0 15px;
}

.select2-container--default
  .select2-selection--single
  .select2-selection__rendered {
  padding: 30px 19px 0 15px;
  font-size: 15px;
}

.select2-container--default
  .select2-selection--single
  .select2-selection__arrow {
  display: none;
  visibility: hidden;
}

.select2-container--default
  .select2-selection--single
  .select2-selection__choice,
.select2-container--default
  .select2-selection--multiple
  .select2-selection__choice {
  border-color: #f50043;
  background-color: rgba(245, 0, 67, 0.02);
  color: #f50043;
  font-size: 13px;
  border-radius: 2px;
  margin-top: 35px;
}

.select2-container--default .select2-results__option {
  padding-left: 15px;
  font-size: 14px;
}

.select2-container--default .select2-results__option::before {
  content: "";
  position: relative;
  width: 20px;
  height: 20px;
  border: 1px solid #e7e7e7;
  border-radius: 2px;
  line-height: 20px;
  text-align: center;
  left: 0;
  display: inline-block;
  float: left;
  margin-right: 10px;
}

.select2-container--default
  .select2-selection--multiple
  .select2-selection__choice__remove {
  color: #f50043;
}

.select2-dropdown {
  border: 1px solid #e3e3e3;
}

.select2-container--default
  .select2-results__option--highlighted[aria-selected] {
  background-color: rgba(245, 0, 67, 0.02);
  color: #f50043;
}

.select2-container--default .select2-results__option[aria-selected="true"] {
  color: #f50043;
  background-color: #fff;
  position: relative;
  z-index: 500;
}

.select2-container--default
  .select2-results__option[aria-selected="true"]::before {
  content: "\e804";
  font-family: "foxtail-icon";
  position: relative;
  font-size: 7px;
  width: 20px;
  height: 20px;
  border: 1px solid #e7e7e7;
  border-radius: 2px;
  line-height: 20px;
  text-align: center;
  left: 0;
  display: inline-block;
  float: left;
  margin-right: 10px;
  margin-top: 0px;
}

.select2-results__option {
  padding: 6px 19px;
}

.select2-container--default .select2-results > .select2-results__options li {
  border-radius: 0 0 3px 3px;
}

.select2-container--default .select2-results > .select2-results__options {
  padding-bottom: 10px;
  padding-top: 10px;
}

.select2-container--open .select2-dropdown--below {
  position: relative;
  top: -1px;
}

.select2-container--default
  .select2-results
  > .select2-results__options::before {
  content: "";
  width: calc(100% - 30px);
  position: absolute;
  left: 15px;
  border-top: 1px solid #e7e7e7;
  float: left;
  top: 0;
  display: inline-block;
}

.select2-container--default .select2-search--inline .select2-search__field {
  position: absolute;
  top: 30px;
}

/* DROPDOWN */

.page .settings-content .content .item .dropdown,
.page form .content .item .dropdown {
  width: 100%;
  display: block;
  float: left;
  position: relative;
  /* z-index: 9999; */
}

.page .settings-content .content .item .dropdown select,
.page form .content .item .dropdown select {
  width: 100%;
  height: 70px;
  display: block;
  float: left;
  outline: none;
  background-color: #fff;
  border: 1px solid #e3e3e3;
  padding: 20px 20px 0 20px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border-radius: 2px;
  font-family: "Roboto Condensed";
  font-size: 14px;
  color: #333333;
  font-weight: 400;
}

.page .settings-content .content .item .dropdown::before,
.page form .content .item .dropdown::before {
  content: "\f004";
  font-family: "foxtail-icon";
  color: #f50043;
  position: absolute;
  right: 20px;
  top: 13px;
  font-size: 14px;
  /* z-index: 99999; */
}

.page .settings-content .content .item .dropdown label,
.page form .content .item .dropdown label {
  font-family: "Roboto Condensed";
  font-size: 13px;
  line-height: 17px;
  color: #8c909d;
  font-weight: 400;
  /* z-index: 100; */
  -webkit-font-smoothing: antialiased;
  padding: 0;
  margin: 0;
  width: 100%;
  display: block;
  float: left;
}

/* RANGE SLIDER */

.page .settings-content .content .item .range-slider,
.page form .content .item .range-slider {
  width: 100%;
  display: block;
  float: left;
}

.noUi-horizontal .noUi-handle {
  box-shadow: 2px 2px 4px 0 rgba(0, 0, 0, 0.08);
}

.range-con {
  width: 100%;
  display: block;
  float: left;
  padding: 36px 0 13px 10px;
}

.noUi-target {
  border-radius: 100px;
  box-shadow: none;
  border-color: #e7e7e7;
}

.noUi-background {
  background-color: #fff;
  box-shadow: none;
}

.noUi-horizontal {
  height: 11px;
}

.noUi-origin {
  border-radius: 100px;
}

.noUi-connect {
  background-color: #598cf2;
  box-shadow: none;
}

.noUi-horizontal .noUi-handle {
  width: 24px !important;
  height: 24px !important;
  top: -8px;
  box-shadow: 1px 1px 4px 0 rgba(0, 0, 0, 0.13);
}

.noUi-horizontal .noUi-handle-upper .noUi-tooltip {
  bottom: 26px;
}

.noUi-handle {
  box-shadow: none;
  border-radius: 100%;
}

.noUi-tooltip {
  font-size: 14px;
  padding: 0 3px;
}

.noUi-horizontal .noUi-handle-lower .noUi-tooltip {
  top: -27px;
}

.noUi-handle:after,
.noUi-handle:before {
  display: none;
  visibility: hidden;
}

.page .settings-content .content .item .range-head,
.page form .content .item .range-head {
  width: 100%;
  display: block;
  float: left;
  font-size: 15px;
  color: #565656;
  letter-spacing: -0.3px;
}

.page .settings-content .content .item .limit,
.page form .content .item .limit {
  width: 100%;
  display: block;
  float: left;
  padding: 4px 0 0 0;
}

.page .settings-content .content .item .limit span,
.page form .content .item .limit span {
  float: left;
  font-size: 13px;
  color: #acacac;
  letter-spacing: -0.3px;
}

.page .settings-content .content .item .limit span:first-child,
.page form .content .item .limit span:first-child {
  float: left;
  text-align: left;
}

.page .settings-content .content .item .limit span:nth-child(2),
.page form .content .item .limit span:nth-child(2) {
  float: right;
  text-align: right;
}

.page .settings-content .content .item .pmd-range-slider.noUi-target,
.page form .content .item .pmd-range-slider.noUi-target {
  height: 5px !important;
}

.page .settings-content .content .item .pmd-range-slider .noUi-handle,
.page form .content .item .pmd-range-slider .noUi-handle {
  top: -5px;
}

/* UPLOAD PICTURE FILEPOND */

.filepond--panel-root {
  background-color: #f1f2f4;
  border-radius: 2px;
}

.filepond--root[data-style-panel-layout~="circle"]
  .filepond--file
  .filepond--file-action-button[data-align*="bottom"]:not([data-align*="center"]) {
  position: absolute;
  left: 38%;
  bottom: 2px;
}

/* VERIFICATION BOX */

.page .settings-content .content .verification-box,
.page form .content .verification-box {
  width: 100%;
  display: block;
  float: left;
  border-radius: 2px;
  border: 1px solid #e7e7e7;
  padding: 20px;
  margin-top: 10px;
}

.page .settings-content .content .verification-box span,
.page form .content .verification-box span {
  width: 100%;
  display: block;
  float: left;
}

.page .settings-content .content .verification-box span.head,
.page form .content .verification-box span.head {
  font-size: 16px;
  color: #565656;
  line-height: 19px;
  letter-spacing: -0.3px;
  padding-bottom: 4px;
  font-weight: 700;
}

.page .settings-content .content .verification-box span.title,
.page form .content .verification-box span.title {
  font-size: 14px;
  color: #7b7b7b;
  line-height: 20px;
  letter-spacing: -0.1px;
  padding-bottom: 10px;
}

.page .settings-content .content .verification-box span.clickverify-btn,
.page .settings-content .content .verification-box a.clickverify-btn,
.page form .content .verification-box span.clickverify-btn,
.page form .content .verification-box a.clickverify-btn {
  /* height: 40px; */
  line-height: 40px;
  text-align: center;
  color: #fff !important;
  font-weight: 700;
  font-size: 14px;
  background-color: #00d157;
  border-radius: 2px;
  padding: 0 15px;
  display: inline-block;
  float: left;
  text-transform: uppercase;
  transition: 0.3s all;
  cursor: pointer;
}

.page .settings-content .content .verification-box span.clickverify-btn:hover,
.page .settings-content .content .verification-box a.clickverify-btn:hover,
.page form .content .verification-box span.clickverify-btn:hover,
.page form .content .verification-box a.clickverify-btn:hover {
  background-color: #00be4f;
}

.page .settings-content .content .verification-box span.resetemail,
.page form .content .verification-box span.resetemail {
  background-color: #00a9ff;
}

.page .settings-content .content .verification-box span.resetemail:hover,
.page form .content .verification-box span.resetemail:hover {
  background-color: #1f71e0;
}

/*---- DESIRES SELECTED */

.page .settings-content .content .select_kinks,
.page form .content .select_kinks {
  width: 100%;
  height: 70px;
  border: 1px solid #e3e3e3;
  padding: 10px;
  border-radius: 1px;
  position: relative;
  overflow: hidden;
  margin-bottom: 5px;
  cursor: pointer;
}

.page .settings-content .content .select_kinks span.label,
.page form .content .select_kinks span.label {
  position: absolute;
  top: 14px;
  left: 15px;
  /* margin-left: 5px; */
  font-family: "Roboto Condensed";
  font-size: 13px;
  line-height: 17px;
  color: #8c909d;
  font-weight: 400;
  /* z-index: 100; */
  -webkit-font-smoothing: antialiased;
  padding: 0;
  margin: 0;
  /* z-index: 99999; */
}

.page .settings-content .content .select_kinks ul,
.page form .content .select_kinks ul {
  list-style-type: none;
  padding: 0 0 0 5px;
  margin: 0;
  float: left;
  display: inline-block;
  width: 80% !important;
}

.page .settings-content .content .select_kinks ul li,
.page form .content .select_kinks ul li {
  float: left;
  border: 1px solid #f50043;
  background-color: rgba(245, 0, 67, 0.02);
  color: #f50043;
  font-size: 13px;
  border-radius: 2px;
  padding: 0 5px;
  margin-right: 5px;
  margin-top: 27px;
  width: auto !important;
}

.page .settings-content .content .select_kinks .counter,
.page form .content .select_kinks .counter {
  position: absolute;
  right: 4%;
  top: 37%;
  font-size: 14px;
}

/*---- POPUP CONTENTS ----*/

.popup-wrapper {
  position: fixed !important;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1999999999;
  /*--For recaTCPA--*/
  -webkit-overflow-scrolling: touch;
}

@media only screen and (max-width: 768px) {
  section.not-found {
    top: 0%;
  }
}

.gj-icon.chevron-right:before {
  content: "\f006";
  font-family: "foxtail-icon" !important;
  font-size: 16px;
  top: -1px;
  position: relative;
  color: #cb0032;
}

.gj-picker-md table tr td.selected.gj-cursor-pointer div {
  background-color: #cb0032;
}

.gj-picker-md table tr td.today div {
  color: #cb0032;
}

.gj-picker div[role="navigator"] div[role="period"] {
  color: #cb0032;
  font-family: "Poppins";
  font-size: 15px;
  letter-spacing: -0.3px;
  font-weight: 400;
}

.gj-icon.chevron-left:before {
  content: "\f007";
  font-family: "foxtail-icon" !important;
  font-size: 16px;
  top: -1px;
  position: relative;
  color: #cb0032;
}

section.full-screen-modal {
  padding: unset !important;
  max-width: unset !important;
}

.popup .page .settings-content .content .select_kinks,
.popup .page form .content .select_kinks {
  margin-bottom: 0px !important;
}

/*---- EDIT ----*/

a {
  color: inherit !important;
}

.rc-slider-tooltip {
  z-index: 999;
}

.rc-slider-rail,
.rc-slider-track {
  height: 6px !important;
  border-radius: 100px !important;
}

.rc-slider-track {
  background-color: #598cf2 !important;
}

.rc-slider-step {
  background-color: #00000000 !important;
}

.rc-slider-handle {
  background-color: #fff !important;
  border: none !important;
  border: 1px solid #e7e7e7 !important;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.05);
}

.rc-slider {
  z-index: 100;
  padding: 15px 0 !important;
}

.select-list {
  width: 100% !important;
  top: 60px !important;
  left: 0 !important;
}

.multiple-options {
  position: relative;
  width: 85%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.select-container .option-counter {
  position: absolute;
  background-color: #fff;
  right: 44px;
  top: 23px;
}

.filepond--drop-label label {
  text-transform: none;
}

.select-container label {
  z-index: auto !important;
}

.upload-box:focus,
.upload-box:hover {
  border-color: #f50043 !important;
}

.upload-box {
  height: 92px !important;
  border-color: #e7e7e7 !important;
  color: #7b7a7a !important;
  padding-top: 8px !important;
}

.jss1 {
  font-size: 36px !important;
  color: #d3d3d3 !important;
}

.text {
  margin-top: 0;
  font-size: 15px;
  color: #7b7a7a;
}

/* REVISION ADD */

h3.black-head {
  width: 100%;
  font-weight: 700;
  padding: 0;
  margin: 0 0 10px 0;
  font-size: 16px;
  float: left;
}

ul.black-member {
  width: 100%;
  float: left;
  list-style: none;
  padding: 0;
  margin: 0;
}

ul.black-member li {
  width: 100%;
  float: left;
  font-weight: 400;
  letter-spacing: -0.3px;
  padding: 0 0 6px 0;
  color: #464648;
  position: relative;
}

ul.black-member li::before {
  content: "\e804";
  font-family: "foxtail-icon";
  padding-right: 11px;
  font-size: 12px;
  color: #52b910;
}

.avatar-style-vectors {
  /* width: 100%; */
  min-width: 320px;
  float: left;
  display: block;
  background: white;
  border-radius: 6px;
  position: absolute;
  bottom: 74px;
  display: flex;
  box-shadow: 0px 0px 2px #000000a6;
}

.avatar-style-rotate {
  margin-bottom: 0;
  display: initial;
  position: absolute;
  right: 30px;
}

.avatar-style-vectors .content {
  max-width: calc(100vw - 8px);
  width: 100%;
  display: flex !important;
  /* height: 70px; */
  border: 1px solid #d6dde4;
  position: relative;
  /* margin-bottom: 30px; */
  border-radius: 2px;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  overflow-x: auto;
  padding:unset !important;
  height:auto !important;
}

.scroll-more-down {
  text-align: center;
  border-top: 1px solid #e7e7e7;
  padding: 15px 0 15px 0;
  width: 100%;
  float: left;
  color: #5b5b65;
  font-size: 14px;
}

section.not-found {
  width: 100%;
  display: inline-block;
  /* padding: 140px 0; */
}

section.not-found .icon {
  width: 100%;
  display: inline-block;
  text-align: center;
  float: left;
}

section.not-found .icon i.nico::before {
  content: "";
  font-family: "foxtail-icon";
  background-image: -webkit-linear-gradient(28deg, #f70016 7%, #5f00a4 100%);
  background-image: -o-linear-gradient(28deg, #f70016 7%, #5f00a4 100%);
  background-image: linear-gradient(118deg, #f70016 7%, #5f00a4 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  overflow: hidden;
  font-size: 100px;
  width: 100%;
  text-align: center;
  font-style: normal;
}

section.not-found .icon i.nico.blackmember::before {
  content: "\e823";
}

section.not-found .icon i.nico.magnifier::before {
  content: "\e822";
}

section.not-found .icon i.nico.location::before {
  content: "\e820";
}

section.not-found .icon i.nico.event::before {
  content: "\e821";
}

section.not-found .icon i.nico.message::before {
  content: "\e80c";
  background-color: #dfe1e6;
  background-image: none;
}

section.not-found .icon i.nico.cogs::before {
  content: "\e801";
}

section.not-found .icon i.nico.x::before {
  content: "\e805";
}

section.not-found span.head.nopad {
  padding-top: 0;
  padding-bottom: 0;
}

section.not-found span.head {
  width: 100%;
  float: left;
  text-align: center;
  display: inline-block;
  font-size: 22px;
  color: #292929;
  letter-spacing: -0.5px;
  line-height: 25px;
  padding-bottom: 15px;
  font-weight: 400;
  padding-top: 15px;
}

section.not-found span.description {
  width: 100%;
  text-align: center;
  display: inline-block;
  font-size: 15px;
  color: #585858;
  letter-spacing: 0.4px;
  line-height: 25px;
  padding-bottom: 15px;
}

.inbox-ads {
  width: 100%;
  margin: 0 auto;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 30px;
}

.inbox-ads .content {
  width: 100%;
  /* padding: 0 30px; */
  display: inline-block;
  float: left;
  overflow: hidden;
  border-radius: 2px;
}

.inbox-ads .ad-con {
  width: 100%;
  height: 208px;
  display: flex;
  justify-content: center;
  background-image: -webkit-linear-gradient(136deg, #f70016 0%, #5f00a4 100%);
  background-image: -o-linear-gradient(136deg, #f70016 0%, #5f00a4 100%);
  background-image: linear-gradient(226deg, #f70016 0%, #5f00a4 100%);
}

.inbox-ads .detail-con {
  width: 100%;
  display: inline-block;
  float: left;
  padding: 40px 53px;
  background: #ffffff;
}

.inbox-ads img {
  max-width: 550px;
  max-height: 300px;
  width: auto;
}

.inbox-ads .detail-con span.head {
  width: 100%;
  float: left;
  text-align: center;
  display: inline-block;
  font-size: 22px;
  color: #292929;
  letter-spacing: -0.5px;
  line-height: 25px;
  padding-bottom: 9px;
  font-weight: 400;
}

.inbox-ads .detail-con span.description {
  width: 100%;
  float: left;
  text-align: center;
  display: inline-block;
  font-size: 15px;
  color: #585858;
  letter-spacing: 0.4px;
  line-height: 25px;
}

.inbox-ads .detail-con .button {
  width: 100%;
  height: 50px;
  background-color: #27c635;
  text-align: center;
  display: inline-block;
  line-height: 50px;
  text-transform: uppercase;
  color: #fff !important;
  font-weight: 700;
  letter-spacing: -0.5px;
  font-size: 16px;
  outline: none;
  border: none;
  margin-top: 25px;
  border-radius: 2px;
  cursor: pointer;
}

.loading {
  width: 100%;
  float: left;
}

.loading .content {
  width: 100%;
  padding: 100px 0;
  float: left;
}

.loading .content .lo-text {
  width: 100%;
  float: left;
  text-align: center;
  display: inline-block;
  font-size: 18px;
  color: #292929;
  letter-spacing: -0.5px;
  line-height: 25px;
  padding-bottom: 9px;
  font-weight: 400;
  padding-top: 15px;
}

.loading .content .bar {
  width: 100%;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  justify-content: center;
  align-content: center;
}

.loading .content .lo-bar {
  display: inline-block;
  position: relative;
  width: 64px;
  height: 64px;
}

.loading .content .lo-bar div {
  box-sizing: border-box;
  display: block;
  position: absolute;
  width: 51px;
  height: 51px;
  margin: 6px;
  border: 6px solid;
  border-radius: 50%;
  animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  border-color: #b3283a transparent transparent transparent;
}

.loading .content .lo-bar div:nth-child(1) {
  animation-delay: -0.45s;
}

.loading .content .lo-bar div:nth-child(2) {
  animation-delay: -0.3s;
}

.loading .content .lo-bar div:nth-child(3) {
  animation-delay: -0.15s;
}

@keyframes lds-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@media only screen and (max-width: 576px) {
  .mobile-margin-clr {
    width: 540px;
    max-width: 100%;
  }
}

@media only screen and (min-width: 768px) {
  .hidden-mobile {
    display: inline-block;
    visibility: visible;
  }
  .hidden-desktop {
    display: none !important;
    visibility: hidden !important;
  }
  .flexible {
    position: relative;
    left: inherit;
    top: inherit;
    right: inherit;
    bottom: inherit;
  }

  section.featured-profiles::before {
    content: "";
    height: 336px;
  }
}

@media only screen and (min-width: 992px) {
  .inbox-ads {
    padding-top: 100px;
  }
  .inbox-ads .content {
    width: 550px;
    padding: 0;
    box-shadow: 0 1px 0 0 rgba(0, 0, 0, 0.04),
      0 13px 16px 0 rgba(66, 81, 110, 0.04);
  }
  .inbox-ads .ad-con {
    height: 300px;
  }

  footer.sticky {
    position: absolute;
    bottom: 0;
  }
}

@media only screen and (min-width: 1200px) {
  .members-toggle {
    top: 35px;
  }
  .members-toggle.participants {
    top: 35px;
  }
  .members-toggle.invite {
    top: 85px;
  }
  .members-toggle.invite-event {
    top: 24px;
  }
  .invite-toggle {
    top: 85px;
  }
}

.errorLbl {
  color: #ff1b03;
  background-color: #ffc8c3;
  border: 1px solid #ff1b03;
  padding: 2px;
  margin-top: 5px;
  width: 100%;
  text-align: center;
}

.flashCpl {
  width: 50px;
  height: 50px;
  -webkit-animation: FLASH_CPL 2s infinite;
  /* Safari 4+ */
  -moz-animation: FLASH_CPL 2s infinite;
  /* Fx 5+ */
  -o-animation: FLASH_CPL 2s infinite;
  /* Opera 12+ */
  animation: FLASH_CPL 2s infinite;
  /* IE 10+, Fx 29+ */
}

@-webkit-keyframes FLASH_CPL {
  0%,
  49% {
    background-color: #cf003c;
    color: #fff;
  }
  50%,
  100% {
    background-color: #fff;
    color: #464648;
  }
}

/*
img {
  background: url('../img/elements/loader.gif') 50% no-repeat;
} */

/* lightGallery */

.lg-next,
.lg-prev {
  border: none !important;
  outline: none !important;
}

.reset-icon::before {
  content: "\f031";
  font-family: "foxtail-icon";
  color: #7b7a7a;
  position: absolute;
  right: 12px;
  top: 16px;
  font-size: 16px;
  /* z-index: 1; */
}

.greenButton {
  width: 100%;
  height: 50px;
  outline: none;
  line-height: 50px;
  text-align: center;
  border: none;
  border-radius: 2px;
  color: #fff;
  font-weight: 700;
  letter-spacing: -0.3px;
  text-transform: uppercase;
  font-size: 15px;
  background-color: #00d157;
  transition: 0.3s all;
  cursor: pointer;
}

.greenButton:hover {
  background-color: #00af49;
}

.green-button-small {
  border: 1px solid !important;
  padding: 6px 12px !important;
  font-size: 16px !important;
  box-shadow: none !important;
  line-height: 1.5 !important;
  border-color: #00d157 !important;
  text-transform: none !important;
  background-color: #00d157 !important;
  outline: none;
}

.green-button-small:hover {
  background-color: #00b94d !important;
  border-color: #00b94d !important;
}

.capitalize {
  text-transform: capitalize;
}

.filepond--list.filepond--list {
  padding: 0 !important;
}

.fade-enter {
  opacity: 0;
  z-index: 1;
}

.fade-enter.fade-enter-active {
  opacity: 1;
  transition: opacity 250ms ease-in;
}

.sex::before {
  font-size: 15px;
  font-family: "foxtail-icon";
  color: #fff;
  padding: 1px;
}

@media only screen and (max-width: 768px) {
  .sex::before {
    color: #464648;
  }
}

.userInfoHeader::before {
  font-size: 19px;
  display: flex;
}

.profileCardSymbol::before {
  font-size: 13px;
  color: #8f969c;
}

.sex.M::before {
  content: "\e803";
}

.sex.F::before {
  content: "\e802";
}

.sex.I::before {
  content: "\f224";
}

.sex.N::before {
  content: "\f22c";
}

.fullscreen {
  width: 100vw;
  height: 100vh;
  display: flex;
}

.centerscreenY {
  display: flex;
  justify-content: center;
  flex: 1;
  align-content: center;
}

.centerscreenX {
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: xx-large;
}

.foxailGradient {
  background: -webkit-linear-gradient(118deg, #f70016 7%, #5f00a4 100%);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.aboutlogo {
  margin: 40px;
  width: 21%;
  height: 10%;
  background-size: 100%;
  background-repeat: no-repeat;
  background-image: url(../img/logo/logo-color.svg);
  align-self: center;
}

.fullscreen a,
.bluelink {
  color: blue !important;
  text-decoration: underline;
  cursor: pointer;
}

.copyIcon {
  content: "\f004";
  font-family: "foxtail-icon";
  color: #f50043;
}

.foxToast {
  background: "black";
  height: 225px;
  color: "black";
}

.Toastify__toast.Toastify__toast--default {
  color: #383838;
  border-radius: 5px;
}

.Toastify__toast.Toastify__toast--info {
  background: #3387f9;
  border-radius: 5px;
}

.Toastify__toast.Toastify__toast--success {
  background: #1fba3d;
  border-radius: 5px;
}

.Toastify__toast.Toastify__toast--warn {
  border-radius: 5px;
}

.Toastify__toast.Toastify__toast--error {
  background: #e60013;
  color: #fff;
  border-radius: 5px;
}

.Toastify__progress-bar.Toastify__progress-bar--default {
  background: -webkit-linear-gradient(118deg, #f70016 7%, #5f00a4 100%);
}

.chat-window-wrapper {
  height: calc(100vh - 144px);
}

.edit-canvas-image-wrapper {
  margin-top: 56px;
  position: relative;
  width: 100vw;
}

.edit-canvas-image-wrapper > div {
  display: auto !important;
}

.edit-photo-modal .popup form {
  display: flex;
  overflow: hidden;
  position: absolute;
  left: 0;
  right: 0;
}

.edit-photo-modal .popup form .form-content {
  margin: 0 !important;
}

.edit-photo-modal .popup form::-webkit-scrollbar {
  width: initial !important;
  height: initial !important;
  border: initial !important;
  background-color: initial !important;
  overflow: initial !important;
  border-radius: initial !important;
}

.edit-canvas-image-div {
  display: flex;
  flex-direction: column;
}

.edit-canvas-action-bar-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: baseline;
  margin: 10px 0 10px 0;
  width: 100%;
  position: fixed;
  z-index: 9999;
  bottom: 0;
}

.edit-canvas-action-bar {
  padding: 6px 8px;
  background: #5f5f5f;
  display: flex;
  align-items: center;
}

.edit-canvas-action-div {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.edit-canvas-action-icon-button {
  padding: 4px !important;
  outline: none !important;
}

.edit-canvas-action-icon {
  font-size: 30px !important;
  color: #dadada !important;
}

.edit-canvas-stickers-wrapper {
  display: flex;
  justify-content: center;
  width: 100%;
}

.edit-canvas-stickers-div-close-button-div {
  position: absolute;
  right: 0;
}

.edit-canvas-stickers-div-close-button-div-button {
  padding: unset !important;
  outline: none !important;
  background-color: #00000091 !important;
  color: white !important;
  border: 1px solid white !important;
  margin: 6px !important;
}

.edit-canvas-dialog-topbar {
  width: 100%;
  display: flex;
  min-height: 56px;
  justify-content: space-between;
  position: absolute;
  z-index: 300;
  background: #717171;
  align-items: center;
  padding: 0 24px;
  position: fixed;
  top: 0;
}

.linksvg {
  color: white;
  font-size: 10px;
}

.icon-box {
  display: flex;
  justify-content: center;
  width: 100%;
}
.stopwatch::before {
  content: "\e800";
  color: #f50043;
  font-size: 50px;
  background-image: none;
  font-family: "foxtail-icon";
}
.deleteProfile {
  width: 90px;
  height: 45px;
  position: absolute;
  top: 66px;
  border-bottom-left-radius: 80px;
  border-bottom-right-radius: 80px;
  margin: 0 1em 1em 0;
  cursor: pointer;
  color: transparent;
}

.css-times {
  position: absolute;
  width: 100px;
  height: 90px;
}

.css-times:before,
.css-times:after {
  position: absolute;
  content: "";
  left: 50px;
  top: 0;
  width: 2px;
  height: 65px;
  background: red;
  border-radius: 50px 50px 0 0;
  -webkit-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg);
  -webkit-transform-origin: 0 100%;
  -ms-transform-origin: 0 100%;
  transform-origin: 0 100%;
  -webkit-animation: times-background 1s ease-in-out infinite;
  animation: times-background 1s ease-in-out infinite;
}

.css-times:after {
  left: 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
  -webkit-transform-origin: 100% 100%;
  -ms-transform-origin: 100% 100%;
  transform-origin: 100% 100%;
}

#root:empty ~ .xxxloader {
  position: relative;
  height: 100vh;
  width: 100vw;
  border-radius: 50%;
  margin: 75px;
}

#root:empty ~ .loadingContainer {
  display: flex;
  align-items: center;
  height: 100vh;
  top: 100px;
}

.xxxloader {
  position: relative;
  width: 60px;
  height: 97px;
}

.loadingActive {
  display: flex;
  position: absolute;
  align-items: center;
  height: 100vh;
  justify-items: center;
  width: 100vw;
  /** Added by @ashutoshpw **/
  /**display: flex;
  position: fixed;
  align-items: center;
  height: 110%;
  justify-items: center;
  width: 100vw;
  background:#fff;
  z-index: 99999999999999999999; **/
}

.loadingContainer {
  display: none;
}

.xxxloader-21 {
  margin: 0 auto;
  right: 22px;
}

.xxxloader-21 .times1 {
  -webkit-animation: times-pulse 1s ease-in-out infinite;
  animation: times-pulse 1s ease-in-out infinite;
  left: 0;
}

.xxxloader-21 .times2 {
  -webkit-animation: times-pulse 1s 0.2s ease-in-out infinite;
  animation: times-pulse 1s 0.2s ease-in-out infinite;
  left: 25px;
}

.xxxloader-21 .times3 {
  -webkit-animation: times-pulse 1s 0.4s ease-in-out infinite;
  animation: times-pulse 1s 0.4s ease-in-out infinite;
  left: 50px;
}

@-webkit-keyframes times-pulse {
  0%,
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
    opacity: 1;
  }
  60% {
    -webkit-transform: scale(0);
    transform: scale(0);
    opacity: 0;
  }
}

@keyframes times-pulse {
  0%,
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
    opacity: 1;
  }
  60% {
    -webkit-transform: scale(0);
    transform: scale(0);
    opacity: 0;
  }
}

@-webkit-keyframes times-background {
  0%,
  100% {
    background: #5f00a4;
  }
  60% {
    background: #f70016;
  }
}

@keyframes times-background {
  0%,
  100% {
    background: #5f00a4;
  }
  60% {
    background: #f70016;
  }
}

.coupleIcon::after {
  content: "\f234";
  font-family: "foxtail-icon";
  padding-left: 8px;
}

.coupleRemIcon::after {
  content: "\f235";
  font-family: "foxtail-icon";
  padding-left: 8px;
}

.text-center {
  text-align: center;
  text-align: -webkit-center;
}

/*
background: linear-gradient(334deg, #2ea586, #6e37b9);
background-size: 400% 400%;

-webkit-animation: CycleC 30s ease infinite;
-moz-animation: CycleC 30s ease infinite;
animation: CycleC 30s ease infinite;
*/

@-webkit-keyframes CycleC {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

@-moz-keyframes CycleC {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

@keyframes CycleC {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.back-to-home::before {
  content: "\f007";
  font-family: "foxtail-icon";
  color: #5f00a4;
  font-size: 26px;
  float: left;
  padding: 10px 30px 30px 30px;
  cursor: pointer;
  position: absolute;
}

.rulesCon {
  border-bottom: 1px solid #dcdfe4;
  text-align: initial !important;
}

.rulesCon .rulesScroll {
  border-top: 1px solid #c40148;
  box-shadow: 0 1px 0 0 rgba(0, 0, 0, 0.04),
    0 13px 16px 0 rgba(66, 81, 110, 0.04);
  max-height: 40vh;
  overflow: auto;
  padding: 10px;
}

.rulesCon h2 {
  text-align: center;
  color: #f70016;
}

.rulesCon ul {
  list-style: none;
  padding: 0;
}

.rulesCon li {
  padding-left: 1.3em;
}

.rulesCon ul li:before {
  content: "\f004";
  /* FontAwesome Unicode */
  font-family: "foxtail-icon";
  display: inline-block;
  margin-left: -1.3em;
  /* same as padding-left set on li */
  width: 1.3em;
  /* same as padding-left set on li */
  color: #f70016;
}

.rulesCon ul:only-child li:before {
  content: "\f006";
  /* FontAwesome Unicode */
  font-family: "foxtail-icon";
  display: inline-block;
  margin-left: -1.3em;
  /* same as padding-left set on li */
  width: 1.3em;
  /* same as padding-left set on li */
  color: #5f00a4;
}

.rulesCon .btm-msg {
  text-align: center;
}

.rulesCon .btm-msg .saying {
  color: #f70016;
  font-style: italic;
  font-weight: 600;
  margin-left: 5px;
}

.rulesCon .btm-sitename {
  text-align: right;
  margin: 10px;
  font-style: italic;
  color: #f70016;
}

.cropper-bg {
  width: 100vw !important;
}

.photo-editor {
  background-color: transparent !important;
  max-height: 100vh;
}

.photo-editor .form-content {
  margin: 0 !important;
}

.single-line {
  white-space: nowrap;
  display: inline-block;
}

.react-datepicker__navigation {
  top: 5px !important;
}

@media (max-width: 550px) {
  .react-datepicker__portal .react-datepicker__day-name,
  .react-datepicker__portal .react-datepicker__day,
  .react-datepicker__portal .react-datepicker__time-name {
    width: 1.5rem !important;
    line-height: 1.5rem !important;
  }
}

@supports (-webkit-overflow-scrolling: touch) {
  /* CSS specific to iOS devices */
  .react-datepicker__portal .react-datepicker__day-name,
  .react-datepicker__portal .react-datepicker__day,
  .react-datepicker__portal .react-datepicker__time-name {
    width: 1.5rem !important;
    line-height: 1.5rem !important;
  }
}

.react-tel-input {
  font-family: "Roboto", sans-serif;
  font-size: 15px;
  position: relative;
  width: 100%;
  height: 52px;
  z-index: 9999;
}

.react-tel-input .flag-dropdown {
  background: #e9ebec !important;
  border-color: #e9ebec !important;
}

.react-tel-input .arrow {
  border: unset !important;
}

.react-tel-input .arrow::after {
  bottom: -12px;
  right: -11px;
}

.react-tel-input .selected-flag {
  padding-left: 5px !important;
}

/** Added by @ashutoshpw **/

div.register-form div.form-fields div.dropdown {
  /* margin-top: 18px; */
  margin-bottom: 0px !important;
}

div.register-form div.form-fields div.calender {
  margin-bottom: 0px !important;
}

div.register-form div.form-fields .couple-choose {
  margin-top: 0px;
}

.ReactModalPortal > div {
  z-index: 9999 !important;
}

.Toastify {
  z-index: 999999999999999999;
}

.sentry-error-embed {
  z-index: 99999999999999;
}

@media screen and (max-width: 660px) {
  .sentry-error-embed {
    margin-top: 10% !important;
  }
}

@media screen and (max-width: 480px) {
  .sentry-error-embed {
    margin-top: 18% !important;
  }
}

.datePickerInput {
  width: 100%;
}

.datePickerInput input {
  cursor: pointer;
}

.MuiPopover-root,
.MuiDialog-root {
  z-index: 99999999999999 !important;
}

.datePickerInput::before {
  content: "\f4c5" !important;
  font-size: 20px;
  top: 12px !important;
  font-family: "foxtail-icon";
  z-index: 1 !important;
  color: #e5e7ee;
  position: absolute;
  left: 15px;
  top: 15px;
}

.datePickerInput input::placeholder {
  color: #8c909d !important;
  opacity: unset !important;
}
