section.couple-popup-content {
    width: 100%;
    height: 100%;
    display: block;
    float: left;
    top: 0;
    left: 0;
    z-index: 9999;
    visibility: visible;
}

section.couple-popup-content.show {
    display: inline-block;
    visibility: visible;
}

/* section.couple-popup-content::before {
    content: '';
    width: 100%;
    height: 300vh;
    position: fixed;
    left: 0;
    top: 0;
    display: block;
    float: left;
    background: rgba(41,1,10,0.44);
  } */

section.couple-popup-content .couple-head {
    width: 100%;
    display: block;
    float: left;
    margin-bottom: 15px;
}

section.couple-popup-content .couple-head span {
    width: 100%;
    display: block;
    float: left;
}

section.couple-popup-content .couple-head span.first {
    font-size: 24px;
    color: #464648;
    font-weight: 700;
    letter-spacing: -0.3px;
    line-height: 28px;
    padding-bottom: 4px;
}

section.couple-popup-content .couple-head span.description {
    display: flex;
    text-align: center;
    font-size: 17px;
}

section.couple-popup-content .couple-head span.second {
    font-size: 14px;
    color: #565656;
    line-height: 23px;
}

section.couple-popup-content .receive-code {
    width: 100%;
    display: block;
    float: left;
    margin-top: 15px;
    border-top: 1px solid #e6e6e6;
    position: relative;
}

section.couple-popup-content .create-profile {
    width: 100%;
    display: block;
    float: left;
    margin-top: 15px;
    border-top: 1px solid #e6e6e6;
    padding-top: 24px;
    position: relative;
}

section.couple-popup-content .create-profile .code {
    width: 100%;
    display: block;
    float: left;
    text-align: center;
    font-size: 38px;
    font-weight: 700;
    color: #da2f2d;
    line-height: 23px;
    padding-top: 15px;
    margin-bottom: 30px;
}

section.couple-popup-content .create-profile .choose-box {
    width: 100%;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    justify-content: center;
    align-items: center;
}

section.couple-popup-content .create-profile .choose-box .select-checkbox input {
    display: none;
}

section.couple-popup-content .create-profile .choose-box .select-checkbox input+label span {
    width: 24px;
    height: 24px;
    border: 1px solid #e9ebec;
    position: relative;
    background: inherit;
    border-radius: 2px;
    cursor: pointer;
    margin: 0 auto;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
}

section.couple-popup-content .create-profile .choose-box .select-checkbox label b {
    padding-left: 10px;
    display: inline-block;
    float: left;
    font-style: normal;
    line-height: 20px;
    color: #212121;
    font-size: 14px;
    font-weight: 400;
    user-select: none;
    padding-top: 10px;
    text-align: center;
    width: 100%;
}

section.couple-popup-content .create-profile .choose-box .select-checkbox input:checked+label span:before {
    content: "\e804";
    font-family: "foxtail-icon";
    color: #cb0032;
    font-size: 10px;
    text-align: center;
    display: inline-block;
    float: left;
    width: 100%;
    line-height: 24px;
}

section.couple-popup-content .create-profile .share-mail {
    width: 100%;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    justify-content: center;
    align-items: center;
}

section.couple-popup-content .modal-popup {
    width: 100%;
    display: block;
    float: left;
    position: relative;
    background-color: #fff;
    border-radius: 2px;
}

section.couple-popup-content .modal-popup .page {
    box-shadow: none !important;
    padding: 0 0 30px 0 !important;
}

.SocialMediaShareButton {
    margin: 0 15px;
}

section.couple-popup-content .create-profile .SocialMediaShareButton {
    outline: none;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    cursor: pointer;
}

section.couple-popup-content .create-profile .SocialMediaShareButton>div>svg {
    width: 48px !important;
    height: 48px !important;
}

section.couple-popup-content .modal-popup .m-head {
    width: 100%;
    padding: 30px;
    display: block;
    float: left;
    background-image: -webkit-linear-gradient(top right, #f70016 0%, #791b7d 100%);
    background-image: -o-linear-gradient(top right, #f70016 0%, #791b7d 100%);
    background-image: linear-gradient(to bottom left, #f70016 0%, #791b7d 100%);
    position: relative;
}

section.couple-popup-content .modal-popup .m-head .close::before {
    content: "\e805";
    font-family: "foxtail-icon";
    position: absolute;
    right: 15px;
    top: 15px;
    color: rgba(255, 255, 255, 0.5);
    font-size: 16px;
    display: inline-block;
    float: left;
    transition: 0.3s all;
    cursor: pointer;
}

section.couple-popup-content .modal-popup .m-head .close:hover::before {
    color: #fff;
}

section.couple-popup-content .modal-popup .m-head span {
    width: 100%;
    display: block;
    float: left;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

section.couple-popup-content .modal-popup .m-head span.heading {
    color: #fff;
    font-weight: 700;
    font-size: 26px;
    letter-spacing: -0.5px;
    line-height: 36px;
}

section.couple-popup-content .modal-popup .m-head span.title {
    color: rgba(255, 255, 255, 0.85);
    font-size: 13px;
    line-height: 15px;
}

section.couple-popup-content .modal-popup .m-body {
    width: 100%;
    display: block;
    float: left;
    padding: 30px;
    background-color: #fff;
}

section.invite-popup-content {
    width: 100%;
    height: 100%;
    display: block;
    float: left;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 9999;
    padding-top: 85px;
    display: inline-block;
    visibility: visible;
}

section.invite-popup-content.show {
    display: inline-block;
    visibility: visible;
}

section.invite-popup-content::before {
    content: "";
    width: 100%;
    height: 300vh;
    position: fixed;
    left: 0;
    top: 0;
    display: block;
    float: left;
    background: rgba(41, 1, 10, 0.44);
}

section.invite-popup-content .select-checkbox {
    float: left;
    margin-top: 10px;
}

section.invite-popup-content .select-checkbox input {
    display: none;
}

section.invite-popup-content .select-checkbox input+label span {
    width: 24px;
    height: 24px;
    border: 1px solid #e9ebec;
    position: relative;
    background: inherit;
    border-radius: 2px;
    cursor: pointer;
    margin: 0 auto;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
}

section.invite-popup-content .select-checkbox input:checked+label span:before {
    content: "\e804";
    font-family: "foxtail-icon";
    color: #cb0032;
    font-size: 10px;
    text-align: center;
    display: inline-block;
    float: left;
    width: 100%;
    line-height: 24px;
}

section.invite-popup-content .modal-popup {
    width: 100%;
    display: block;
    float: left;
    position: relative;
    background-color: #fff;
    border-radius: 2px;
}

section.invite-popup-content .modal-popup .m-head {
    width: 100%;
    padding: 30px;
    display: block;
    float: left;
    background-image: -webkit-linear-gradient(top right, #f70016 0%, #791b7d 100%);
    background-image: -o-linear-gradient(top right, #f70016 0%, #791b7d 100%);
    background-image: linear-gradient(to bottom left, #f70016 0%, #791b7d 100%);
    position: relative;
}

section.invite-popup-content .modal-popup .m-head .close::before {
    content: "\e805";
    font-family: "foxtail-icon";
    position: absolute;
    right: 15px;
    top: 15px;
    color: rgba(255, 255, 255, 0.5);
    font-size: 16px;
    display: inline-block;
    float: left;
    transition: 0.3s all;
    cursor: pointer;
}

section.invite-popup-content .modal-popup .m-head .close:hover::before {
    color: #fff;
}

section.invite-popup-content .modal-popup .m-head span {
    width: 100%;
    display: block;
    float: left;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

section.invite-popup-content .modal-popup .m-head span.heading {
    color: #fff;
    font-weight: 700;
    font-size: 26px;
    letter-spacing: -0.5px;
    line-height: 36px;
}

section.invite-popup-content .modal-popup .m-head span.title {
    color: rgba(255, 255, 255, 0.85);
    font-size: 13px;
    line-height: 15px;
}

section.invite-popup-content .modal-popup .m-body {
    width: 100%;
    display: block;
    float: left;
    padding: 30px;
    background-color: #fff;
}

section.invite-popup-content .invite-members {
    width: 100%;
    display: block;
    float: left;
}

section.invite-popup-content .invite-members .inv-item {
    width: 100%;
    display: block;
    float: left;
    margin-bottom: 20px;
}

section.invite-popup-content .invite-members .avatar {
    width: 48px;
    height: 48px;
    border-radius: 2px;
    display: inline-block;
    float: left;
    margin-left: 15px;
    overflow: hidden;
}

section.invite-popup-content .invite-members .avatar img {
    width: 100%;
    height: 100%;
    display: inline-block;
    float: left;
    background-size: 100%;
    background-repeat: no-repeat;
}

section.invite-popup-content .invite-members span.username {
    width: calc(100% - 102px);
    float: left;
    display: block;
    line-height: 48px;
    color: rgba(0, 0, 0, 0.8);
    margin-left: 15px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.05);
}

section.invite-popup-content .invite-members .apply-content {
    width: 100%;
    border-top: 1px solid rgba(0, 0, 0, 0.05);
    padding-top: 15px;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    justify-content: center;
    align-items: center;
}

section.invite-popup-content .invite-members .apply-content span {
    text-align: center;
    height: 45px;
    display: inline-block;
    padding: 0 90px;
    line-height: 45px;
    float: left;
    border-radius: 2px;
    color: #fff;
    font-weight: 700;
    background-color: #36d055;
    cursor: pointer;
    transform: 0.3s all;
}

section.invite-popup-content .invite-members .apply-content span:hover {
    background-color: #1fba3d;
}

section.couple-popup-content .create-profile .choose-box .select-checkbox input+label span {
    float: left;
    display: inline-block;
    margin: 0;
}

section.couple-popup-content .create-profile .choose-box .select-checkbox label b {
    padding-top: 0;
    width: auto;
    text-align: left;
    line-height: 26px;
}