.form-content .input.calender::before {
  content: '\f4c5' !important;
  font-size: 20px !important;
  top: 12px !important;
  z-index: 999 !important;
}

.react-datepicker-wrapper,
.react-datepicker__input-container {
  display: block !important;
  width: 100% !important;
}

.DayPickerInput-Overlay {
  z-index: 101 !important;
  box-shadow: unset !important;
  border: 1px solid #e9ebec !important;
  top: 53px !important;
}

.DayPicker-NavButton--prev,
.DayPicker-NavButton--next {
  color: #cb0032 !important;
}

.DayPicker-Day--selected:not(.DayPicker-Day--disabled):not(.DayPicker-Day--outside) {
  background-color: #cb0032 !important;
}

.DayPicker-Day--selected:not(.DayPicker-Day--disabled):not(.DayPicker-Day--outside):hover {
  background-color: #cb0032 !important;
}

.react-datepicker-popper {
  z-index: 111111111111;
}

.react-datepicker__day--selected,
.react-datepicker__day--in-selecting-range,
.react-datepicker__day--in-range,
.react-datepicker__day--keyboard-selected,
.react-datepicker__day:hover {
  color: #fff !important;
  border-radius: 50% !important;
  background-color: #cb0032 !important;
}

.react-datepicker {
  border: 1px solid #e3e3e3 !important;
  border-radius: 0 !important;
}

.react-datepicker__header {
  background-color: white !important;
  border-bottom: 1px solid #cb0032 !important;
}

.react-datepicker-popper[data-placement^='bottom'] .react-datepicker__triangle {
  border-bottom-color: #fff !important;
}

.react-datepicker__navigation--previous {
  border-right-color: #cb0032 !important;
}

.react-datepicker__navigation--next {
  border-left-color: #cb0032 !important;
}

.react-datepicker__current-month.react-datepicker__current-month--hasYearDropdown.react-datepicker__current-month--hasMonthDropdown {
  display: none !important;
}

.calender-input-sm .react-datepicker-popper[data-placement^='top'] {
  margin-bottom: 55px !important;
}

.calender-input-sm .react-datepicker-popper {
  top: 100% !important;
}

.react-datepicker__time-container {
  border-left: 1px solid #cb0032 !important;
}
