@font-face {
  font-family: "San Francisco Display";
  src: url("../fonts/SanFranciscoDisplay-Semibold.woff2") format("woff2"),
    url("../fonts/SanFranciscoDisplay-Semibold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: "San Francisco Display";
  src: url("../fonts/SanFranciscoDisplay-Light.woff2") format("woff2"),
    url("../fonts/SanFranciscoDisplay-Light.woff") format("woff");
  font-weight: 200;
  font-style: normal;
}
@font-face {
  font-family: "San Francisco Display";
  src: url("../fonts/SanFranciscoDisplay-Medium.woff2") format("woff2"),
    url("../fonts/SanFranciscoDisplay-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "San Francisco Display";
  src: url("../fonts/SanFranciscoDisplay-Regular.woff2") format("woff2"),
    url("../fonts/SanFranciscoDisplay-Regular.woff") format("woff");
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: "San Francisco Display";
  src: url("../fonts/SanFranciscoDisplay-Bold.woff2") format("woff2"),
    url("../fonts/SanFranciscoDisplay-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "foxtail-icon";
  src: url("../fonts/fontello.eot?63865340");
  src: url("../fonts/fontello.eot?63865340#iefix") format("embedded-opentype"),
    url("../fonts/fontello.woff2?63865340") format("woff2"),
    url("../fonts/fontello.woff?63865340") format("woff"),
    url("../fonts/fontello.ttf?63865340") format("truetype"),
    url("../fonts/fontello.svg?63865340#fontello") format("svg");
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"]:before,
[class*=" icon-"]:before {
  font-family: "foxtail-icon";
  font-style: normal;
  font-weight: normal;
  speak: none;
  display: inline-block;
  text-decoration: inherit;
  text-align: center;
  font-variant: normal;
  text-transform: none;
  line-height: 1em;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-cog-alt:before {
  content: "\e800";
} /* '' */
.icon-female:before {
  content: "\e801";
} /* '' */
.icon-male:before {
  content: "\e802";
} /* '' */
.icon-check:before {
  content: "\e803";
} /* '' */
.icon-close:before {
  content: "\e804";
} /* '' */
.icon-hearth:before {
  content: "\e806";
} /* '' */
.icon-magnifier:before {
  content: "\e807";
} /* '' */
.icon-report:before {
  content: "\e808";
} /* '' */
.icon-share:before {
  content: "\e809";
} /* '' */
.icon-trash:before {
  content: "\e80a";
} /* '' */
.icon-email:before {
  content: "\e80c";
} /* '' */
.icon-members:before {
  content: "\e80d";
} /* '' */
.icon-group:before {
  content: "\e80e";
} /* '' */
.icon-notification:before {
  content: "\e80f";
} /* '' */
.icon-gender:before {
  content: "\e810";
} /* '' */
.icon-heart-empty:before {
  content: "\e812";
} /* '' */
.icon-user:before {
  content: "\e815";
} /* '' */
.icon-facebook:before {
  content: "\e816";
} /* '' */
.icon-twitter:before {
  content: "\e819";
} /* '' */
.icon-attachment:before {
  content: "\e81d";
} /* '' */
.icon-more-(1):before {
  content: "\e81e";
} /* '' */
.icon-location-2:before {
  content: "\e820";
} /* '' */
.icon-not-event:before {
  content: "\e821";
} /* '' */
.icon-not-found:before {
  content: "\e822";
} /* '' */
.icon-premium:before {
  content: "\e823";
} /* '' */
.icon-down-open:before {
  content: "\f004";
} /* '' */
.icon-right-open:before {
  content: "\f006";
} /* '' */
.icon-left-open:before {
  content: "\f007";
} /* '' */
.icon-location:before {
  content: "\f031";
} /* '' */
.icon-circle-empty:before {
  content: "\f10c";
} /* '' */
.icon-circle:before {
  content: "\f111";
} /* '' */
.icon-transgender:before {
  content: "\f224";
} /* '' */
.icon-neuter:before {
  content: "\f22c";
} /* '' */
.icon-user-plus:before {
  content: "\f234";
} /* '' */
.icon-user-times:before {
  content: "\f235";
} /* '' */
.icon-question-circle-o:before {
  content: "\f29c";
} /* '' */
.icon-calendar:before {
  content: "\f4c5";
} /* '' */
