/*---- MEET FILTER ----*/

section.meet-filter {
  width: 100%;
  float: left;
  position: relative;
  background-image: -webkit-linear-gradient(136deg, #f70016 0%, #5f00a4 100%);
  background-image: -o-linear-gradient(136deg, #f70016 0%, #5f00a4 100%);
  background-image: linear-gradient(226deg, #f70016 0%, #5f00a4 100%);
  padding: 20px 0 10px 0;
  z-index: 10;
}

section.meet-filter::after {
  content: "";
  width: 100%;
  height: 100%;
  display: inline-block;
  float: left;
  background: rgba(0, 0, 0, 0.1);
  position: absolute;
  left: 0;
  top: 0;
  z-index: 10;
}

section.meet-filter .dropdown {
  width: 100%;
  position: relative;
  float: left;
  margin-bottom: 10px;
  z-index: 200;
}

section.meet-filter .dropdown select {
  width: 100%;
  height: 70px;
  display: block;
  float: left;
  outline: none;
  background-color: #fff;
  border: 1px solid #e3e3e3;
  padding: 20px 20px 0 20px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border-radius: 2px;
  font-family: "Roboto Condensed";
  font-size: 14px;
  color: #333333;
  font-weight: 400;
}

section.meet-filter .dropdown::after {
  right: 20px;
  top: 15px;
  font-size: 14px;
  z-index: 99999;
}

section.meet-filter .dropdown.no-arrow::before {
  content: "";
  display: none;
  visibility: hidden;
}

section.meet-filter .dropdown label {
  /* position: absolute; */
  top: 6px;
  left: 15px;
  font-family: "Roboto Condensed";
  font-size: 13px;
  line-height: 17px;
  color: #8c909d;
  font-weight: 400;
  /* z-index: 100; */
  -webkit-font-smoothing: antialiased;
  padding: 0;
  margin: 0;
  /* z-index: 9999; */
}

section.meet-filter
  .dropdown
  .select2-container--default
  .select2-selection--single
  .select2-selection__rendered {
  font-size: 13px;
  color: #1e1e2b;
  padding: 16px 19px 0 14px;
}

section.meet-filter
  .dropdown
  .select2-container--default
  .select2-selection--single,
.select2-container--default .select2-selection--multiple {
  height: 45px;
}

section.meet-filter
  .dropdown
  .select2-container--default
  .select2-selection--single,
section.meet-filter
  .dropdown
  .select2-container--default
  .select2-selection--multiple {
  height: 45px;
}

section.meet-filter
  .dropdown
  .select2-container--default
  .select2-selection--single
  .select2-selection__choice,
section.meet-filter
  .dropdown
  .select2-container--default
  .select2-selection--multiple
  .select2-selection__choice {
  background-color: #fff;
  border: none;
  margin-top: 20px !important;
}

section.meet-filter
  .dropdown
  .select2-container--default
  .select2-selection--multiple
  .select2-selection__choice:first-child {
  padding-left: 0;
}

section.meet-filter
  .dropdown
  .select2-container--default
  .select2-selection--multiple
  .select2-selection__choice {
  margin-right: 0;
  color: #1e1e2b;
  padding-right: 0px;
}

section.meet-filter
  .dropdown
  .select2-container--default
  .select2-search--inline
  .select2-search__field {
  top: 16px;
  font-size: 13px;
  color: #1e1e2b;
}

section.meet-filter
  .dropdown
  .select2-container--default
  .select2-selection--multiple
  .select2-selection__choice::after {
  content: ",";
  display: inline-block;
  float: right;
}

section.meet-filter
  .dropdown
  .select2-container--default
  .select2-selection--multiple
  .select2-selection__choice__remove {
  display: none;
  visibility: hidden;
}

section.meet-filter .item {
  width: 100%;
  display: block;
  float: left;
  position: relative;
}

section.meet-filter .item .range-head {
  width: 100%;
  display: block;
  float: left;
  font-size: 16px;
  color: #fff;
  font-weight: 700;
  letter-spacing: -0.3px;
}

section.meet-filter .item .limit {
  width: 100%;
  display: block;
  float: left;
}

section.meet-filter .item .limit span {
  float: left;
  font-size: 14px;
  color: #fff;
  letter-spacing: -0.3px;
  position: relative;
}

section.meet-filter .item .limit span:first-child {
  float: left;
  text-align: left;
}

section.meet-filter .item .limit span:nth-child(2) {
  float: right;
  text-align: right;
}

section.meet-filter .item .pmd-range-slider.noUi-target {
  height: 5px !important;
  margin-top: 35px;
}

section.meet-filter .item .pmd-range-slider .noUi-handle {
  top: -5px;
}

section.meet-filter .item .pmd-range-slider.noUi-background,
section.meet-filter .item .pmd-range-slider .noUi-background {
  background-color: #fff;
}

section.meet-filter .noUi-background {
  border: none;
}

section.meet-filter .range-con {
  padding: 7px 0 9px 0 !important;
}

section.meet-filter .search {
  width: 100%;
  position: relative;
  float: left;
  margin-bottom: 10px;
  z-index: 201;
}

/*---- FEATURED PROFILE ---*/

section.featured-profiles {
  width: 100%;
  display: block;
  float: left;
  padding-top: 23px;
}

section.featured-profiles::before {
  content: "";
  width: 100%;
  height: 451px;
  display: block;
  float: left;
  background-image: -webkit-linear-gradient(136deg, #f70016 0%, #5f00a4 100%);
  background-image: -o-linear-gradient(136deg, #f70016 0%, #5f00a4 100%);
  background-image: linear-gradient(226deg, #f70016 0%, #5f00a4 100%);
  position: absolute;
  left: 0;
  top: 65px;
}

section.featured-profiles span.head {
  width: 100%;
  display: block;
  float: left;
  text-transform: uppercase;
  font-size: 15px;
  color: #fff;
  font-weight: 700;
  letter-spacing: -0.15px;
  border-left: 5px solid rgba(255, 255, 255, 0.22);
  line-height: 22px;
  padding-left: 10px;
  padding-top: 1px;
  margin-bottom: 15px;
}

section.featured-profiles .slider,
section.featured-profiles .owl-carousel {
  width: 100%;
  display: block;
  float: left;
  visibility: visible;
}

section.featured-profiles .owl-carousel .owl-stage-outer {
  height: 250px;
  padding-top: 4px;
}

section.featured-profiles .slider .owl-nav {
  color: white !important;
  position: absolute;
  top: 30%;
  width: 100%;
  text-align: center;
  display: none;
  visibility: hidden;
}

section.featured-profiles .slider .owl-nav .owl-prev,
section.featured-profiles .slider .owl-nav .owl-next {
  position: absolute;
  width: 42px;
  height: 65px !important;
  background-color: #fff;
  color: #d6dde4;
  box-shadow: 4px 9px 8px 0 rgba(0, 0, 0, 0.03);
  outline: none;
}

section.featured-profiles .slider .owl-nav .owl-prev i,
section.featured-profiles .slider .owl-nav .owl-next i {
  position: relative;
  line-height: 65px;
  font-size: 23px;
}

section.featured-profiles .slider .owl-nav .owl-next {
  right: -15px !important;
  border-radius: 2px 0 0 2px;
}

section.featured-profiles .slider .owl-nav .owl-prev {
  left: -15px;
  border-radius: 0 2px 2px 0;
}

section.featured-profiles .slider .item {
  width: 100%;
  display: block;
  float: left;
  background: #ffffff;
  box-shadow: 0 1px 0 0 rgba(0, 0, 0, 0.04),
    0 13px 16px 0 rgba(66, 81, 110, 0.04);
  padding: 10px;
  border-radius: 2px;
  position: relative;
}

section.featured-profiles .slider .item .info {
  width: 100%;
  height: 160px;
  display: block;
  float: left;
  position: relative;
  cursor: pointer;
}

section.featured-profiles .slider .item .info a {
  width: 100%;
  height: 100%;
  display: inline-block;
  float: left;
}

section.featured-profiles .slider .item .info .image {
  width: 100%;
  height: 100%;
  border-radius: 1px;
  overflow: hidden;
  display: block;
  float: left;
}

section.featured-profiles .slider .item.verified .info .image::before {
  content: "";
  width: 32px;
  height: 44px;
  position: absolute;
  right: 11px;
  top: -4px;
  background-size: 100%;
  background-repeat: no-repeat;
  z-index: 999;
}

section.featured-profiles .slider .item.verified.photo .info .image::before {
  background-image: url("../../assets/img/elements/profile-badge-verified.png");
}

section.featured-profiles .slider .item.verified.std .info .image::before {
  background-image: url("../../assets/img/elements/std-badge-verified.png");
}

section.featured-profiles .slider .item.verified.both .info .image::before {
  background-image: url("../../assets/img/elements/full-verified-badge.png");
  width: 58px !important;
}

section.featured-profiles .slider .item .info .image::after {
  content: "";
  width: 100%;
  height: 100%;
  display: inline-block;
  float: left;
  position: absolute;
  left: 0;
  top: 0;
  background-image: -webkit-linear-gradient(
    rgba(0, 0, 0, 0) 58%,
    rgba(0, 0, 0, 0.88) 90%
  );
  background-image: -o-linear-gradient(
    rgba(0, 0, 0, 0) 58%,
    rgba(0, 0, 0, 0.88) 90%
  );
  background-image: linear-gradient(
    rgba(0, 0, 0, 0) 58%,
    rgba(0, 0, 0, 0.88) 90%
  );
}

section.featured-profiles .slider .item .info .image img {
  width: 100%;
  max-width: 100%;
  height: 100%;
  display: inline-block;
  float: left;
  background-size: 100%;
  background-repeat: no-repeat;
  -moz-transition: all 0.5s;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

section.featured-profiles .slider .item .info:hover .image img {
  -moz-transform: scale(1.1);
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}

section.featured-profiles .slider .item .info .data {
  position: absolute;
  bottom: 10px;
  z-index: 100;
  padding: 0 10px 0 10px;
  width: 100%;
  display: block;
  float: left;
}

section.featured-profiles .slider .item .info .data span.name {
  color: #fff;
  font-size: 18px;
  font-weight: 700;
  line-height: 18px;
  letter-spacing: -0.15px;
  width: 100%;
  float: left;
  display: inline-block;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

section.featured-profiles .slider .item .info .data span.name.online::after {
  content: "";
  width: 6px;
  height: 6px;
  right: -3px;
  top: -9px;
  background-color: #69c900;
  border-radius: 100px;
  display: inline-block;
  position: relative;
}

section.featured-profiles .slider .item .info .data span.detail {
  width: 100%;
  float: left;
  padding-top: 2px;
  display: none;
  visibility: hidden;
}

section.featured-profiles .slider .item .info .data span.detail ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

section.featured-profiles .slider .item .info .data span.detail ul li {
  float: left;
  font-size: 14px;
  color: #fff;
  letter-spacing: -0.13px;
  padding-right: 5px;
}

section.featured-profiles
  .slider
  .item
  .info
  .data
  span.detail
  ul
  li.sex::before {
  content: "";
  font-family: "foxtail-icon";
  color: #fff;
  font-size: 13px;
  padding-right: 3px;
}

section.featured-profiles
  .slider
  .item
  .info
  .data
  span.detail
  ul
  li.sex.f::before {
  content: "\e802";
}

section.featured-profiles
  .slider
  .item
  .info
  .data
  span.detail
  ul
  li.sex.m::before {
  content: "\e803";
}

section.featured-profiles .slider .item .info .data span.interest {
  width: 100%;
  float: left;
  padding-top: 4px;
  display: none;
  visibility: hidden;
}

section.featured-profiles .slider .item .info .data span.interest ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

section.featured-profiles .slider .item .info .data span.interest ul li {
  float: left;
  margin-right: 5px;
  background-image: -webkit-linear-gradient(
    top right,
    #f70016 0%,
    #910075 100%
  );
  background-image: -o-linear-gradient(top right, #f70016 0%, #910075 100%);
  background-image: linear-gradient(to bottom left, #f70016 0%, #910075 100%);
  display: inline-block;
  padding: 0 6px;
  border-radius: 2px;
  height: 22px;
  line-height: 22px;
  color: #fff;
  font-size: 12px;
  letter-spacing: -0.1px;
}

section.featured-profiles .slider .item .function {
  width: 100%;
  display: block;
  float: left;
  margin-top: 10px;
}

section.featured-profiles .slider .item .function .btn {
  float: left;
  width: 47%;
  height: 40px;
  background-color: #fff;
  border: 1px solid #e0e3e6;
  border-radius: 2px;
  transition: 0.3s all;
  position: relative;
  cursor: pointer;
}

section.featured-profiles .slider .item .function .btn.sent {
  width: 100%;
  color: #464648;
  font-size: 14px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

section.featured-profiles .slider .item .function .btn.sent:hover {
  border-color: #cf003c;
  background-color: #fff;
}

section.featured-profiles .slider .item .function .btn a {
  width: 100%;
  height: 100%;
  display: inline-block;
  float: left;
  position: absolute;
  left: 0;
  top: 0;
}

section.featured-profiles .slider .item .function .btn.message {
  float: right;
}

section.featured-profiles .slider .item .function .btn.active,
section.featured-profiles .slider .item .function .btn:hover {
  background-color: #cf003c;
  border-color: #cf003c;
}

section.featured-profiles .slider .item .function .btn.active::before,
section.featured-profiles .slider .item .function .btn:hover::before {
  color: #fff;
}

section.featured-profiles .slider .item .function .btn::before {
  content: "";
  font-family: "foxtail-icon";
  width: 100%;
  text-align: center;
  color: #d6dde4;
  display: inline-block;
  float: left;
  line-height: 40px;
  font-size: 18px;
}

section.featured-profiles .slider .item .function .btn.message::before {
  content: "\e80c";
  font-size: 22px;
  line-height: 38px;
}

section.featured-profiles .slider .item .function .btn.heart::before {
  content: "\e806";
}

section.featured-profiles .slider .item .function .btn.unheart::before {
  content: "\e812";
}

@media only screen and (min-width: 375px) {
  section.featured-profiles .slider .item .info {
    height: 180px;
  }
  section.featured-profiles .owl-carousel .owl-stage-outer {
    height: 275px;
  }
  section.featured-profiles .slider .item .info .data span.detail {
    display: inline-block;
    visibility: visible;
  }
  section.featured-profiles .slider .item .info .image::after {
    background-image: -webkit-linear-gradient(
      rgba(0, 0, 0, 0) 38%,
      rgba(0, 0, 0, 0.88) 90%
    );
    background-image: -o-linear-gradient(
      rgba(0, 0, 0, 0) 38%,
      rgba(0, 0, 0, 0.88) 90%
    );
    background-image: linear-gradient(
      rgba(0, 0, 0, 0) 38%,
      rgba(0, 0, 0, 0.88) 90%
    );
  }
}

@media only screen and (min-width: 430px) {
  section.featured-profiles .slider .item .info {
    height: 220px;
  }
  section.featured-profiles .owl-carousel .owl-stage-outer {
    height: 320px;
  }
  section.featured-profiles .slider .item .info .data span.interest {
    display: inline-block;
    visibility: visible;
  }
}

@media only screen and (min-width: 520px) {
  section.featured-profiles .slider .item .info {
    height: 260px;
  }
  section.featured-profiles .owl-carousel .owl-stage-outer {
    height: 370px;
  }
  section.featured-profiles .slider .item {
    padding: 15px;
  }
  section.featured-profiles .slider .item .function {
    margin-top: 15px;
  }
  section.featured-profiles .slider .item .info .data {
    padding: 0 15px 0 15px;
  }
  section.featured-profiles .slider .owl-nav {
    display: inline-block;
    visibility: visible;
  }
  section.featured-profiles .slider .item .info .data {
    bottom: 15px;
  }
}

@media only screen and (min-width: 768px) {
  section.featured-profiles .slider .item .info {
    height: 225px;
  }
  section.featured-profiles .owl-carousel .owl-stage-outer {
    height: 340px;
  }
  section.featured-profiles .slider .owl-nav {
    top: 35%;
  }
}

@media only screen and (min-width: 992px) {
  section.featured-profiles .slider .item .info {
    height: 255px;
  }
  section.featured-profiles .owl-carousel .owl-stage-outer {
    height: 370px;
  }
  section.featured-profiles .slider .owl-nav {
    top: 32%;
  }
}

/*---- MEMBERS CARD ----*/

section.members {
  width: 100%;
  display: block;
  float: left;
  margin-bottom: 30px;
  margin-top: 30px;
  min-height: 40vh;
}

section.members span.head {
  width: 100%;
  display: block;
  float: left;
  text-transform: uppercase;
  font-size: 15px;
  color: #464648;
  font-weight: 700;
  letter-spacing: -0.15px;
  border-left: 5px solid #ccd6df;
  line-height: 22px;
  padding-left: 10px;
  padding-top: 1px;
  margin-bottom: 15px;
}

section.members .card-item {
  width: 100%;
  height: 142px;
  display: block;
  float: left;
  position: relative;
  background: #ffffff;
  box-shadow: 0 1px 0 0 rgba(0, 0, 0, 0.04),
    0 13px 16px 0 rgba(66, 81, 110, 0.04);
  margin-bottom: 30px;
  border-radius: 1px;
}

section.members .card-item.verified .image::before {
  content: "";
  width: 26px;
  height: 44px;
  position: absolute;
  right: -4px;
  top: -4px;
  background-size: 100%;
  background-repeat: no-repeat;
  z-index: 500;
}

section.members .card-item.verified.photo .image::before {
  background-image: url("../../assets/img/elements/profile-badge-verified.png");
}

section.members .card-item.verified.std .image::before {
  background-image: url("../../assets/img/elements/std-badge-verified.png");
}

section.members .card-item.verified.both .image::before {
  background-image: url("../../assets/img/elements/full-verified-badge.png");
  width: 50px !important;
}

section.members .card-item .image {
  width: 125px;
  height: 100%;
  float: left;
  display: inline-block;
  position: relative;
  border-radius: 1px 0 0 1px;
  overflow: hidden;
  cursor: pointer;
}

section.members .card-item .image img {
  width: 100%;
  max-width: 100%;
  height: 100%;
  /* background-size: 100%; */
  background-repeat: no-repeat;
  display: inline-block;
  float: left;
  -moz-transition: all 0.5s;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

section.members .card-item .image:hover img {
  -moz-transform: scale(1.1);
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}

section.members .card-item .info {
  width: calc(100% - 125px);
  padding: 15px 20px 0 20px;
  float: left;
  display: inline-block;
  position: relative;
}

@media only screen and (max-width: 352px) {
  section.members .card-item .info span.name {
    width: 84% !important;
  }
}

@media only screen and (max-width: 1200px) {
  section.members .card-item .info span.name {
    width: 88% !important;
  }
}
section.members .card-item .info span.name {
  color: #464648;
  font-size: 17px;
  line-height: 20px;
  letter-spacing: -0.15px;
  width: 90%;
  float: left;
  display: inline-block;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  padding-bottom: 4px;
}

section.members .card-item .info .profile-info {
  cursor: pointer;
}

section.members .card-item .info span.name.online::after {
  content: "";
  width: 6px;
  height: 6px;
  right: -3px;
  top: -9px;
  background-color: #69c900;
  border-radius: 100px;
  display: inline-block;
  position: relative;
}

section.members .card-item .info span.detail {
  width: 100%;
  float: left;
  display: inline-block;
}

section.members .card-item .info span.detail ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

section.members .card-item .info span.detail ul li {
  float: left;
  font-size: 13px;
  line-height: 15px;
  color: #8f969c;
  letter-spacing: -0.12px;
  padding-right: 6px;
}

section.members .card-item .info span.detail ul li.sex::before {
  content: "";
  font-family: "foxtail-icon";
  color: #8f969c;
  font-size: 13px;
  padding-right: 3px;
}

section.members .card-item .info span.detail ul li.sex.f::before {
  content: "\e802";
  font-size: 12px;
}

section.members .card-item .info span.detail ul li.sex.m::before {
  content: "\e803";
  font-size: 12px;
}

section.members .card-item .info span.detail ul li.sex.i::before {
  content: "\f224";
  font-size: 12px;
}

section.members .card-item .info span.interest {
  width: 100%;
  display: block;
  float: left;
  margin-top: 8px;
}

section.members .card-item .info span.interest ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  width: 100%;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
}

section.members .card-item .info span.interest ul li {
  width: 100%;
  box-sizing: border-box;
  flex-wrap: nowrap;
  margin-right: 5px;
  background-color: #f4f5f9;
  padding: 0 6px;
  border-radius: 2px;
  height: 22px;
  line-height: 22px;
  color: #62677d;
  font-size: 12px;
  letter-spacing: -0.1px;
  text-align: center;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

section.members .card-item .info span.interest ul li:last-child {
  margin-right: 0;
}

section.members .card-item .info .function {
  width: 100%;
  display: block;
  float: left;
  margin-top: 10px;
}

section.members .card-item .info .function .btn {
  float: left;
  width: 47%;
  height: 34px;
  background-color: #fff;
  border: 1px solid #e0e3e6;
  border-radius: 2px;
  transition: 0.3s all;
  position: relative;
  cursor: pointer;
}

section.members .card-item .info .function .btn.sent {
  width: 100%;
  color: #464648;
  font-size: 14px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

section.members .card-item .info .function .btn.sent:hover {
  border-color: #cf003c;
  background-color: #fff;
}

section.members .card-item .info .function .btn a {
  width: 100%;
  height: 100%;
  display: inline-block;
  float: left;
  position: absolute;
  left: 0;
  top: 0;
}

section.members .card-item .info .function .btn.message {
  float: right;
}

section.members .card-item .info .function .btn.active,
section.members .card-item .info .function .btn:hover {
  background-color: #cf003c;
  border-color: #cf003c;
}

section.members .card-item .info .function .btn.active::before,
section.members .card-item .info .function .btn:hover::before {
  color: #fff;
}

section.members .card-item .info .function .btn::before {
  content: "";
  font-family: "foxtail-icon";
  width: 100%;
  text-align: center;
  color: #d6dde4;
  display: inline-block;
  float: left;
  line-height: 33px;
  font-size: 16px;
}

section.members .card-item .info .function .btn.message::before {
  content: "\e80c";
  font-size: 20px;
  line-height: 32px;
}

section.members .card-item .info .function .btn.heart::before {
  content: "\e806";
}

section.members .card-item .info .function .btn.unheart::before {
  content: "\e812";
}

.removeProfile::before {
  content: "\e805";
  font-family: "foxtail-icon";
  color: #8f969c;
  font-size: 14px;
  cursor: pointer;
  z-index: 999;
  float: right;
}

section.members .card-item .removeProfile:hover::before {
  color: #cf003c;
}

section.featured-profiles .slider .item .info .removeProfile {
  background-color: rgba(36, 36, 36, 0.333);
  position: absolute;
  width: 24px;
  height: 24px;
}
section.featured-profiles .slider .item .info .removeProfile:hover {
  background-color: #cf003c;
}
section.featured-profiles .slider .item .info .removeProfile::before {
  color: #fff;
  padding-left: 6px;
}
