html,
body {
  font-family: "Roboto Condensed", sans-serif !important;
}

.input.datepicker::before {
  content: "\f4c5" !important;
  font-size: 20px !important;
  top: 12px !important;
}

.DayPickerInput-Overlay {
  z-index: 101 !important;
  box-shadow: unset !important;
  border: 1px solid #e9ebec !important;
  top: 53px !important;
}
.DayPicker-NavButton--prev,
DayPicker-NavButton--next {
  color: #cb0032 !important;
}
.DayPicker-Day--selected:not(.DayPicker-Day--disabled):not(.DayPicker-Day--outside) {
  background-color: #cb0032 !important;
}

.DayPicker-Day--selected:not(.DayPicker-Day--disabled):not(.DayPicker-Day--outside):hover {
  background-color: #cb0032 !important;
}
