.wrapper {
  display: flex;
  flex-flow: row wrap;
}

/* We tell all items to be 100% width, via flex-basis */
.wrapper>* {
  flex: 1 100%;
}

/* We rely on source order for mobile-first approach
 * in this case:
 * 1. header
 * 2. article
 * 3. aside 1
 * 4. aside 2
 * 5. footer
 */
.footer {
  background: black;
  color: #fff;
}

/* Medium screens */
@media all and (min-width: 600px) {

  /* We tell both sidebars to share a row */
  .aside {
    flex: 1 auto;
  }
}

/* Large screens */
@media all and (min-width: 800px) {

  /* We invert order of first sidebar and main
   * And tell the main element to take twice as much width as the other two sidebars
   */
  .main {
    flex: 2 0px;
  }

  .aside-1 {
    order: 1;
    flex-grow: inherit;
  }

  .main {
    order: 2;
    flex-grow: 2;
    padding: 20px;
  }

  .aside-2 {
    order: 3;
  }

  .footer {
    order: 4;
  }
}

.logo {
  position: absolute;
  top: 5px;
}

.twocolumn {
  flex-direction: row;
  display: flex;
  height: 85vh;
}

.fullHeight {
  height: 85vh;
}

.centerRow {
  justify-content: center;
  align-items: center;
  display: flex;
  flex: 1;
}

.leftRow {
  justify-content: left;
  align-items: left;
  display: flex;
  flex: 1;
}

.centerColumn {
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
  flex: 1;
}

.leftColumn {
  justify-content: left;
  align-items: left;
  display: flex;
  flex-direction: column;
  flex: 1;
}

.centerPageBox {
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
  width: 50%;
}

.genderItem {
  width: 40px;
  height: 40px;
  border: dimgray 1px solid;
}

/* mouse over link */
.genderItem:hover {
  border: #ed213a 1px solid;
}

/* selected link */
.genderItem:active {
  color: #0000ff;
}

.itemRow {
  flex-direction: row;
  display: flex;
  justify-content: space-evenly;
  margin-bottom: 10px;
}

.App {
  text-align: center;
}

.photoGridHeader {
  column-span: 2;
}

nav {
  text-align: center;
  padding-bottom: 0.2em;
  padding-top: 2em;
  background-color: #efefef;
}

nav ul {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

p,
li {
  font-size: 2rem;
}

ul {
  list-style: none;
}

input,
select,
textarea {
  padding: 0.4em 0.2em;
  font-size: 1.2rem;
}

.profileBox {
  display: flex;
  padding: 50px;
  justify-content: center;
  background: #efefef;
}

.active {
  font-weight: bold;
}

.form {
  display: flex;

  width: 69%;
  flex: 1;
  flex-direction: column;
  justify-content: space-around;
}

/* you can make up upload button and sample style by using stylesheets */
.ant-upload-select-picture-card i {
  font-size: 32px;
  color: #999;
}

.ant-upload-select-picture-card .ant-upload-text {
  margin-top: 8px;
  color: #666;
}

.delete-button {
  color: red;
  cursor: pointer;
}

#react-paginate ul {
  display: inline-block;
  padding-left: 15px;
  padding-right: 15px;
}

#react-paginate li {
  display: inline-block;
}

#react-paginate .break a {
  cursor: default;
}

.ChatApp {
  background-color: #93291e;
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
}

.chatroom {
  width: 50vw;
  height: 91vh;
  background-color: #fff;
  overflow: hidden;
  box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.3);
}

.chatroom-header {
  padding-left: 15px;
  border-bottom: 2px solid #eee;
  display: flex;
  -ms-flex-align: center;
  align-items: flex-start;
  flex-direction: row;
  justify-content: space-between;
  min-height: 62px;
  padding: 1em;
}

.chatroom-headers {
  display: flex;
  -ms-flex-align: center;
  align-items: flex-start;
  flex-direction: column;
  -ms-flex-pack: center;
  justify-content: center;

}

.chatroom-title {
  background-color: #fff;
  color: #282838;
  font-size: 2.75rem;
  font-weight: 500;
  display: -ms-flexbox;
  line-height: 1.2em;
  text-transform: capitalize;
  margin: 0;
}

.chatroom-titleExtra {
  font-size: 1.25rem;
  text-transform: uppercase;
  letter-spacing: 0.075rem;
  font-weight: 600;
}

.chatroom-titleInfo {
  font-size: 1rem;
}

.chatroom-date {
  color: #aaaabb;
  font-size: 1.25rem;
  font-weight: 700;
  letter-spacing: 0.1rem;
  margin: 0;
  text-transform: uppercase;
}

.chatroom .chats {
  box-sizing: border-box;
  padding: 0 20px;
  height: 91vh;
  overflow-y: auto;
}

.chatList-item {
  margin: 0 -10px;
  padding-left: 10px;
  padding-right: 10px;
}

.chatList-divider::before,
.chatList-divider::after {
  border-color: #00000050;
}

.chatList- .chat .chatroom .chats .chat {
  background: rgba(115, 164, 255, 0.8);
  position: relative;
  padding: 5px 13px;
  font-size: 14px;
  border-radius: 10px;
  list-style: none;
  float: left;
  clear: both;
  margin: 10px 0;
  max-width: 100%;
}

.chatroom .chats .chat img {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  position: absolute;
  top: -10px;
  left: 0px;
}

.chatroom .chats .chat.them {
  background-color: #d7a6ff;
}

.chatroom .chats .chat a {
  text-decoration: none;
  color: #3498db;
}

.chatroom .input {
  height: 7%;
  width: 100%;
  background: #ed213a;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.chatroom .input input[type="text"] {
  background: rgba(255, 255, 255, 0.5);
  outline: 0;
  border: 2px solid #93291e;
  padding: 0 5px;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  margin-left: 16px;
  height: 30px;
  width: 66vw;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-size: 14px;
}

.chatroom .input input[type="submit"] {
  background: transparent;
  border: 1px solid #93291e;
  height: 30px;
  width: 70px;
  font-size: 14px;
  box-sizing: border-box;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.chatroom .input input[type="submit"]:hover {
  background: #93291e;
  color: #fff;
}

.ant-card-body {
  padding-top: 10px !important;
  height: 14vh !important;
}

.ant-card-meta-title {
  height: 5vh !important;
}

.carousel .thumb {
  width: 25% !important;
}

.is-validating.has-feedback .ant-form-item-children-icon {
  margin-top: -35px !important;
}

.control-arrow {
  height: 100%;
}