<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no, shrink-to-fit=no" />
  <meta name="apple-mobile-web-app-capable" content="yes">

  <title>{{htmlWebpackPlugin.options.title}}</title>
  <meta name="description" content="{{htmlWebpackPlugin.options.description}}">
  <link rel="manifest" href="/manifest.json">
  <meta name="theme-color" content="#791b7d" />
  <script
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBpBXHel1_9VsBUNJ-TrBwXrQ8uYtLYdEo&libraries=places"></script>
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css"
    integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">
</head>

<body>
  <noscript> You need to enable JavaScript to run this app. </noscript>
  <div id="root"></div>
  <div class="loadingContainer">
    <div class="xxxloader xxxloader-21">
      <div class="css-times times1"></div>
      <div class="css-times times2"></div>
      <div class="css-times times3"></div>
    </div>
  </div>
</body>

</html>
