/*---- SETTINGS PAGE ----*/

section.settings {
  width: 100%;
  display: block;
  float: left;
}

section.settings .sidebar {
  width: 100%;
  display: block;
  float: left;
  background: #ffffff;
  box-shadow: 0 1px 0 0 rgba(0, 0, 0, 0.04), 0 13px 16px 0 rgba(66, 81, 110, 0.04);
  padding-top: 20px;
}

section.settings .sidebar .profile-picture-content {
  width: 100%;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  justify-content: center;
  align-items: center;
}

section.settings .sidebar .profile-picture-content .picture {
  width: 98px;
  height: 98px;
  display: inline-block;
  float: left;
  overflow: hidden;
}

section.settings .sidebar .profile-picture-content .picture img {
  width: 100%;
  height: 100%;
  display: inline-block;
  background-size: 100%;
  background-repeat: no-repeat;
  cursor: pointer;
}

section.settings .sidebar .upload-btn {
  width: 100%;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  justify-content: center;
  align-items: center;
}

section.settings .sidebar .upload-btn a {
  height: 40px;
  line-height: 40px;
  display: inline-block;
  float: left;
  border-radius: 1px;
  background: rgba(245, 0, 67, 0.02);
  border: 1px solid #f50043;
  color: #f50043;
  font-size: 13px;
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: -0.3px;
  padding: 0 30px;
  margin-top: 20px;
  transition: 0.3s all;
}

section.settings .sidebar .upload-btn a:hover {
  background-color: #f50043;
  color: #fff;
}

section.settings .sidebar .menu {
  width: 100%;
  display: block;
  float: left;
  padding-bottom: 20px;
  padding-top: 20px;
}

section.settings .sidebar .menu ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  width: 100%;
  display: block;
  float: left;
}

section.settings .sidebar .menu ul li {
  width: 100%;
  display: block;
  float: left;
  border-top: 1px solid #f4f4f4;
  font-size: 16px;
  letter-spacing: -0.3px;
  color: #2a2f35;
  line-height: 19px;
  position: relative;
  transition: 0.3s all;
}

section.settings .sidebar .menu ul li:last-child {
  border-bottom: 1px solid #f4f4f4;
}

section.settings .sidebar .menu ul li span {
  width: 100%;
  height: 100%;
  display: inline-block;
  float: left;
  padding: 18px 20px 14px 20px;
  cursor: pointer;
}

section.settings .sidebar .menu ul li span.blkIcon {
  padding: 0px;
  margin: 0px 0px 0px 4px;
  width: auto;
  float: none;
  letter-spacing: 0px;
}

section.settings .sidebar .menu ul li span.blkIcon::before {
  content: "\e823";
  font-family: "foxtail-icon";
  background-image: -webkit-linear-gradient(28deg, #f70016 7%, #5f00a4 100%);
  background-image: -o-linear-gradient(28deg, #f70016 7%, #5f00a4 100%);
  background-image: linear-gradient(118deg, #f70016 7%, #5f00a4 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 14px;
}

section.settings .sidebar .menu ul li:hover {
  color: #f50043;
}

section.settings .sidebar .menu ul li.active::before {
  content: "";
  position: absolute;
  left: -5px;
  width: 5px;
  height: 100%;
  display: inline-block;
  float: left;
  background-color: #f50043;
  top: 0;
}

section.settings .page {
  width: 100%;
  display: block;
  float: left;
  box-shadow: 0 1px 0 0 rgba(0, 0, 0, 0.04), 0 13px 16px 0 rgba(66, 81, 110, 0.04);
  position: relative;
}

section.settings .page-section {
  width: 100%;
  display: block;
  float: left;
  background: #ffffff;
  box-shadow: 0 1px 0 0 rgba(0, 0, 0, 0.04), 0 13px 16px 0 rgba(66, 81, 110, 0.04);
  padding: 30px;
  position: relative;
  margin-top: 15px;
}

section.settings .deactivate {
  display: flex !important;
  justify-content: center;
  color: #9e9e9e;
  margin-top: 25px;
}

section.settings .deactivate span {
  cursor: pointer;
}

section.settings .message {
  background-color: #cf003c;
  color: white;
  font-size: 24px;
  line-height: 28px;
  padding: 10px;
  display: flex;
  justify-content: center;
  margin-top: 25px;
  margin-bottom: 25px;
}

section.settings .select-container .option-counter {
  right: 55px;
}

section.settings .page .content span.heading {
  width: 99% !important;
}

section.settings .rc-slider-rail,
section.settings .rc-slider-track {
  height: 8px !important;
}

section.settings .rc-slider-rail {
  border: 1px solid #e7e7e7 !important;
  background-color: #fff !important;
}

section.settings .rc-slider-handle {
  width: 20px;
  height: 20px;
  margin-top: -6px;
}

section.settings .select-list.multiple {
  top: 59px !important;
  margin: 0 0 0 15px;
  width: calc(100% - 30px) !important;
}

section.settings .profile-bio-textarea {
  border: 1px solid #e3e3e3;
  min-height: 120px;
  margin-bottom: 15px;
}

section.settings textarea.bio {
  border: unset !important;
  z-index: 0;
  margin-top: 38px;
  min-height: 80px !important;
  padding-top: 0 !important;
}

section.settings div.saving {
  position: absolute;
  right: 0px;
  color: #9d9d9d;
  font-size: 14px;
  padding: 5px;
}

section.settings .sidebar .profile-picture-content .picture:hover > .deleteProfile {
  color: #1e1e2b;
  background: #505050;
  opacity: 0.6;
  font-size: 12px;
  text-align: center;
  color: white;
}

section.settings .sidebar .profile-picture-content .picture:hover > .deleteProfile::before {
  font-family: "foxtail-icon";
  content: "\e80a";
  font-size: 16px;
  color: white;
  text-align: center;
  display: flex;
  flex: 1;
  justify-content: center;
}

@media only screen and (min-width: 992px) {
  section.settings .page-section.mtop:nth-child(1) {
    margin-top: 0;
  }
  section.settings .sidebar .menu ul li.highlightTxt {
    color: #f50043 !important;
  }
  section.settings .sidebar .menu ul li.highlightTxt:hover {
    color: #fff !important;
    background-color: #f50043 !important;
  }
}
